[2019-06-11 12:54] AthenaSulisMinerva opened #2 "New preview pic"
We need a new preview picture for the mod info About.xml and the Steam release, so that people don't mix this up with the old CE mod.

@sumghai you did the Rimmu-Nation graphics. Can you do a banner for us?

[2019-06-11 13:35] sumghai commented on #2
Yeah, sure. What do you have in mind?

[2019-06-11 13:43] sumghai opened #3 "Chicken Plucker's Rimmu-Nation & Red Horse Mods"
Just making a TODO list for myself and @Freedom187 - thanks for hosting our patches, Athena!

- [x] Red Horse Furniture
- [x] Rimmu-Nation Clothing
- [x] Rimmu-Nation Weapons
- [x] [RH] Umbra Company
- [x] [RH] The Ghosts
- [x] [RH] Militaires Sans Frontieres ~~(just missing non-lethal ammo textures)~~ (textures done!)
- [x] [RH] Task Force 141
- [x] [RH] Last Man Mercs
- [x] [RH] Elite Crew
- [x]

[2019-06-12 00:10] AthenaSulisMinerva commented on #2
Something crisp and fresh. And lose the Mexican hat guy.

[2019-06-12 00:13] sumghai commented on #2
That's not really much to go on, but I'll see what I can do. I'm a bit busy this week.

Okay, no Sombrero.

[2019-06-12 00:13] sumghai commented on #2
That's not really much to go on, but I'll see what I can do. I'm a bit busy this week.

Okay, no Sombrero.

[2019-06-17 13:36] sumghai commented on #3
Okay, we're done here!

@AthenaSulisMinerva - Please update the supported mod list in the README with all the RN mods.

[2019-06-18 11:02] AthenaSulisMinerva commented on #3
Done. Thanks for your patches.

[2019-06-24 10:56] sumghai commented on #2
Okay, just put something up. Sorry for the delay.

[2019-06-24 12:22] AthenaSulisMinerva commented on #2
Nice work! Thanks.

[2019-06-24 12:22] #2 closed

[2019-06-25 11:08] sumghai opened #5 "Include attribution for patches"
It would be nice if each of the supported patches in the README had the names of their authors.

[2019-06-25 11:10] AthenaSulisMinerva commented on #5
Fair enough. This should be easy.

[2019-06-25 14:57] sumghai opened #7 "Kurin Mod"
Fixes and adjustments to patches originally written by @Togoasl

TODO:
- [x] Allow Kurin to wear any item (not just Kurin-specific apparel)
- [x] Add backpacks to Kurin pawns
- [x] Patch Kurin apparel, armor ~~and weapons~~
- [x] Add ammo to Kurin starting scenario

[2019-06-26 13:28] sumghai commented on #7
New Kurin patches confirmed working. We're done here.

[2019-06-26 13:28] #7 closed

[2019-06-26 15:11] sumghai opened #8 "Rimworld of Magic Mod"
Fixes and adjustments to patches originally written by @Togoasl

TODO:
- [x] Patch summoned creatures
- [x] Patch weapons
- [x] ~~Patch apparel~~

[2019-06-26 15:15] AthenaSulisMinerva commented on #5
I put the names of the patch authors next to their mods in the list, but it makes the README file look bloated and harder to read to find out which mods are supported by CE or FastTrack. Many patches have more than one author, which makes the list look too wide.

![screenshot](https://user-images.githubusercontent.com/49829079/60192265-2bc71980-9868-11e9-81fc-adc61dd27a28.png)

If you don't mind,

[2019-06-26 15:19] AthenaSulisMinerva commented on #5
It will be easier to just have a simple list of names in a different part of the readme, maybe even just the ones who did the new patches in FastTrack.

[2019-06-26 15:21] AthenaSulisMinerva commented on #7
Do you want me to add this to the mods list?

[2019-06-27 02:59] TheEventHorizon opened #9 "Incompatible Mods error"
Whenever the mod is enabled the incompatible mod error is thrown. I have a screen shot and my Rimworld log attached. I hope this helps.

[https://www.dropbox.com/sh/bu9d7n5c29iqnoc/AAC1zOjo811Dlt1Jab09beuea?dl=0](url)

[2019-06-27 10:23] AthenaSulisMinerva commented on #9
This is a known issue.

@sumghai and I invited a couple of people to submit their mod patches, but they weren't formatted correctly, so they were causing the errors you're seeing.

@sumghai is currently fixing those patches, but in the meantime, try rolling back to this version:

https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/archive/056f4564a6e65c37274d852d7ce6c92af4f6d76e.zip

[2019-06-27 10:33] sumghai commented on #5
Yeah, in hindsight that makes sense - your screenshot definitely proves how cluttered my original idea was.

Thanks!

[2019-06-27 10:33] #5 closed

[2019-06-27 10:37] sumghai commented on #9
@TheEventHorizon @AthenaSulisMinerva Yup, I'm working on it.

Specifically, it's the hardcoded Ammo def folder from @Kik0hi Kik0hi's Forsakens patch is causing the issue. He said it's fine if I made the Forksakens use standard CE arrows instead.

I'll see what I can do tonight, although fixing the Rimworld of Magic patches is taking far longer than I expected, because of how many new gameplay chan

[2019-06-27 10:38] sumghai commented on #7
Might be best to wait until I finish patching Rimworld of Magic, Forsakens and Kurin as well, so that you can make the edits in one go.

[2019-06-27 11:50] sumghai commented on #8
This one is good to go.

[2019-06-27 11:50] #8 closed

[2019-06-27 13:12] sumghai opened #10 "Forsaken Mod"
Fixes and adjustments to patches originally written by @Kik0hi

TODO:
- [x] Patch pawns and races
- [x] Patch weapons
- [x] Patch apparel
- [x] Patch scenario

[2019-06-28 16:03] sumghai commented on #10
This is done too.

@AthenaSulisMinerva - you can update the modlist in the README now with the new mods I've patched.

[2019-06-28 16:03] #10 closed

[2019-06-28 16:44] sumghai commented on #9
@TheEventHorizon - Can you try the latest version of the repo now?

I've not only fixed all the "incompatible mods" errors, but also rolled in all the new content from the original upstream CE repo.

[2019-06-28 17:28] TheEventHorizon commented on #9
@sumghai Absolutely ridiculous speed and quality! You and the whole team should be incredibly proud of the work you've done. Almost all errors are completely gone. The only error related to patches that've been able to find is that the Elite crew mod by Plucker when enabled with rimmu-nation weapons generates errors: Config error in RNThrown_C4CSGO: has stackLimit > 1 but also has drawGUIOverlay =

[2019-06-29 00:39] sumghai commented on #9
@TheEventHorizon - Good to hear that the worst of the bugs are gone now.

As for the Elite Crew and RN-Weapons explosives incompatibility issue, let me investigate that further. I swear I previously fixed that a while back...

(I guess that's the thing when you're patching a family of mods that share the same defs. Chicken Plucker should probably have made his mods more modular.)

[2019-06-29 14:27] sumghai commented on #9
@TheEventHorizon - Okay, try the latest version of this repo now, with RN Weapons and Elite Crew running.

[2019-06-29 23:37] AthenaSulisMinerva commented on #9
Looks good on my end.

[2019-07-02 10:15] AthenaSulisMinerva commented on #9
@TheEventHorizon, can you confirm that @sumghai's fix works for you?

I'd like to close this issue so that we can official release this mod.

[2019-07-03 11:18] sumghai commented on #9
My bad, guys! Turns out there was one more patch I forgot to upload.

Try now, @TheEventHorizon.

[2019-07-03 12:27] sumghai commented on #3
Reopening due to bug report on Ludeon Forums, regarding the T-55 tanks from LMM being easily killed by small arms fire (instead of being impervious like Mechanoids).

[2019-07-04 14:35] sumghai commented on #3
Okay, just pushed a hacky workaround to make LMM faction T-55 tanks impervious to small arms fire, but still vulnerable to grenade or rocket launchers.

[2019-07-06 10:56] sumghai commented on #3
I finally implemented proper patches for the LMM faction tanks, which correctly defines armor coverage so that I no longer need the hacky workaround from d3cf28d.

Also, the original user who initially reported the bug on the Ludeon Forums has indicated he is happy with the latest patches, so we're done here for realsies.

[2019-07-06 10:56] #3 closed

[2019-07-07 02:56] TheEventHorizon commented on #9
Working fine now! Thank you so much!

Would it be possible to add support for Call of Cthulhu Cults mod? The current patch does not work. Hopefully it wouldn't be too hard.

[2019-07-07 13:32] AthenaSulisMinerva commented on #9
@TheEventHorizon, I suggest starting a new, separate issue for each mod you want compatibility patches for.

I'll get @sumghai to look into that mod next time. For now, I think we're ready to do an official release.

[2019-07-07 13:32] #9 closed

[2019-07-07 20:18] TheEventHorizon opened #14 "Adding compatibility for the call of Cthulhu series of mods"
This mod has been a breath of fresh air for rimworld, but I was wondering if it would possible to add support for the incredible Cthulhu series of mods found here:  https://steamcommunity.com/workshop/filedetails/?id=829619412

Thank you all for your amazing work and dedication!

[2019-07-07 23:53] TheEventHorizon opened #15 "Glitter Tech Mod"
This might too big of a task given the size of the mod. But perhaps it can be a long term goal.
Mod found here:
https://steamcommunity.com/sharedfiles/filedetails/?id=725576127

[2019-07-09 10:22] AthenaSulisMinerva commented on #14
sumghai's specialty is modern and scifi, so I'll work on this for the next release cycle.

[2019-07-09 10:23] AthenaSulisMinerva commented on #15
This one's for you to handle for the next release, @sumghai.

[2019-07-09 13:01] sumghai commented on #15
Ooh, this will be a doozy, but I'll take a look when I have time.

[2019-07-09 13:03] sumghai opened #16 "Flommel Mod - update"
Flommel mod author Tigerblut informed me that he has added the following new species to his base mod:
- [x] Pomegranate Flommel
- [x] Starfruit Flommel
- [x] Ocean Breeze Flommel

I'll see what I can do over the next few days.

[2019-07-09 17:44] ErdeFB opened #17 "[1.0.1.5-FT-001] Broken compatibility - AnimalCollabProj Patch Pack"
The latest release at the time of writing, v1.0.1.5-FT-001 broke compatibility with said mod. Problem does not appear on version 1.0.1.3 of FT or the latest version of base CE version 1.0.1.5a.

AnimalCollabProj Patch Pack provides CE compatibility for AnimalCollabProject and includes a compatibility patch for A Dog Said as well.

I get the following kind of error whenever examining the informatio

[2019-07-09 18:33] Owlchemist commented on #17
Mod author here - problem is that the patch pack has a conditional check searching for any mod installed called Combat Extended. Since FastTrack operates under a different name, nothing happens.

[2019-07-10 11:28] AthenaSulisMinerva commented on #17
@Owlchemist is correct.

The easiest way to fix this is for @Owlchemist to modify the patch pack's `PatchOperationFindMod` to search for both names, and run the subsequent PatchOps if _either_ are found:
[code]
The other option would be to integrate the patch pack itself into CE:FT, and allow @Owlchemist full access to our repo so that he can push updates directly to us, although that depends on w

[2019-07-10 12:44] sumghai commented on #16
New Flommel patches have been tested, and are now good to go.

[2019-07-10 12:44] #16 closed

[2019-07-10 13:30] AthenaSulisMinerva commented on #14
# TODO List
- [ ] RoM - Vampires
- [ ] RoM - Werewolves
- [ ] RoM - Arachnophobia
- [ ] CoC - Elder Things
- [ ] CoC - Factions - Items Only
- [ ] CoC - Factions
- [ ] CoC - Cults
- [ ] CoC - Cosmic Horrors
- [ ] H.P. Lovecraft Storyteller

Holy shit, @TheEventHorizon - this list is huge!

[2019-07-10 14:12] ErdeFB commented on #17
That'd be an suboptimal solution as it would make FT a non drop-in replacement for CE and would require changes from other mod authors who utilize this method as well. I know brands are important, but so is compatibility. It's going to be a struggle for FT to gain popularity if a large portion of the available CE compatibility patches do not work with it.

[2019-07-10 23:16] AthenaSulisMinerva commented on #17
By "drop-in" replacement for CE, we mean that CE:FT can be used on existing CE savegames without players having to manually edit class references.

The fact that we use a different mod name in the About.xml file isn't a mere branding/marketing gimmick, but an essentially legal one - if we continued to just call our fork "Combat Extended", users and mod manager systems would confuse it with the off

[2019-07-11 10:43] sumghai opened #18 "High Caliber Mod"
[A modern firearms mod](https://ludeon.com/forums/index.php?topic=16864.0) by eatKenny.

The author has stated that he is incapable of making CE compatibility patches, but the weapons in his pack are quite similar to Rimmu-Nation, so this should be fairly easy.

[2019-07-12 13:13] sumghai commented on #15
Currently in the process of contacting Glitter Tech mod author @sam23694 regarding what unique ammo, projectile and damage types he wants for each of his weapons.

[2019-07-12 15:19] sumghai commented on #18
This is good to go.

[2019-07-12 15:19] #18 closed

[2019-07-12 15:20] sumghai commented on #18
@AthenaSulisMinerva - whenever you're free, please add this to the supported mods list.

[2019-07-12 18:02] TheEventHorizon commented on #15
I just wanna say everyone working on this project is amazing! Truly living up to the "fast track" name. If I can help in any way please let me know.

[2019-07-12 23:27] TheEventHorizon commented on #15
The mod author has not been active on github for quite awhile. I'd recommend contacting them through steam.

[2019-07-13 13:34] sumghai commented on #15
I actually contacted sam first through Steam, and had a fruitful discussion with him. Tagging his GitHub username here in this issue is just for the sake of documentation (although admittedly, his no longer updates his GitHub releases as often as his Steam workshop one).

## Summary
- **APB-1 weapons** are plasma / particle beam firearms
  - Plasma ammo cartridges or fuel cells of different calibe

[2019-07-13 18:35] TheEventHorizon commented on #14
There are two (partial) patched for [RoM - Cults](https://steamcommunity.com/sharedfiles/filedetails/?id=1357970120) [Source](https://github.com/Saebbi/ROM-Cults-CE-Patch) and [RoM - Cosmic Horrors](https://steamcommunity.com/sharedfiles/filedetails/?id=1357967363&searchtext=cosmic+horrors) [Souce](https://github.com/Saebbi/Rim-of-Madness-Cosmic-Horrors-CE-Patch). I say partial because neither ful

[2019-07-13 23:49] sumghai commented on #17
@AthenaSulisMinerva - I asked @Owlchemist on Steam, and while he's not happy that we're not using the same mod name as the original CE, he's okay if we integrate his CE patches into our repo:

![Annotation 2019-07-14 065859](https://user-images.githubusercontent.com/4993380/61177326-2a864280-a605-11e9-947b-b8ee1d020cd0.png)

Since you don't use Steam, I'll pull the patches from there and add it to

[2019-07-14 02:20] sumghai commented on #17
New AnimalCollabProj patches for CE:FT have been added. I've tested them and confirm that they work.

[2019-07-14 02:22] AthenaSulisMinerva commented on #14
Hey, thanks - that would be a good starting point.

I also edited your comment to remove the quote, because that's a dynamic todo-list.

[2019-07-14 02:23] AthenaSulisMinerva commented on #17
Cool, thanks.

[2019-07-14 02:24] #17 closed

[2019-07-14 08:27] sumghai opened #19 "[Bug] Various alien race pawns cannot change ammo type or fire modes"
Steam user **Spriggs** reported that none of the third-party alien races powered by the Humanoid Alien Races 2.0 framework can change ammo type or fire modes, which I have also confirmed:

* Xenohumans - Gen-spliced Xenos on the Rim
* Lizardmen
* Yabils: Space Gremlins

This seems to be a fairly serious bug, so I'm gonna have a crack at it tonight.

### Master List of Alien CE Patches that need fi

[2019-07-14 08:34] sumghai commented on #19
After some experimenting...
* The Lizardmen and Yabils mods were authored by @Owlchemist, who directly bundled CE support into those particular race mods
* Since Owlchemist has made it clear he doesn't want to explicitly specify the name "Combat Extended: FastTrack Edition" in his patches, I ended up copying them into CE:FT
* I then found that he wrote up the CE Race compatibility definitions some

[2019-07-14 11:00] AthenaSulisMinerva commented on #19
Shit, that sounds serious.

Thanks for taking care of this.

[2019-07-14 11:50] sumghai commented on #19
It seems that the Equium mod was originally defined using an older method of HAR 2.0, hence my typical race compatibility definition rewrites can't be used. Instead, I've kept the original patch, but fixed Equium pawns not spawning with ammo (as well as consolidating many of the patches.

Yeah, I had to admit I was pretty caught off-guard that the alien race patches included in the original CE pro

[2019-07-14 12:58] sumghai commented on #19
No changes required to Ferrex, apparently.

[2019-07-14 17:24] Taranchuk opened #20 "Turn the fork into just a set of patchs without a CE core or make separate edition with just patchs for original CE?"
Today I switched to Fast Track, deleted the original, launched the game, and found that some of the old patches for CE in other mods stopped working and I got a bunch of red errors. The reason as I understood that the fork uses a new mod name, and the patches are looking for a mod by the name 'Combat Extended', not 'Combat Extended: Fast Track'. Since there are too many patches and although I can

[2019-07-14 18:30] TheEventHorizon commented on #20
Just go into the files of CE:FT and edit the name of of the mod in the about file from `<name>Combat Extended: FastTrack Edition</name>` to `<name>Combat Extended</name>`.

[2019-07-14 18:50] Taranchuk commented on #20
I can do this, just change one file, this is not a problem. But the fact is that there may be other users who have other patches for CE and these patchs will stop working if they decide to switch to a Fast Track fork and they may not be aware of this solution, that's the problem. The question is, what policies do fork developers prefer, will they decide to do something about it or not.

[2019-07-15 10:14] AthenaSulisMinerva commented on #20
The intention of this fork is to bundle as many third-party compatibility patches as possible, and add new ammo types as required, so that users don't have to worry about standalone patches or mod orders - they just get CE:FT and the main mods they play with, and that's it.

We originally did want to submit a collection of patches to the original CE project, but the original project's authors repe

[2019-07-15 12:39] sumghai commented on #20
What about the following compromise?

Revert the mod name in the About.xml back to just "Combat Extended", but we keep the full "Combat Extended: FastTrack Edition" name for the folder, README, preview pic, @Freedom187's Steam Workshop release etc.

That way it should be obvious to newbie users that they're using the FastTrack fork, but ensures backwards compatibility with legacy third-party patch

[2019-07-16 10:10] AthenaSulisMinerva commented on #20
Fair point.

@Taranchuk, what do you think of @sumghai's suggestion?

[2019-07-16 12:38] sumghai commented on #19
Okay, I've fixed up most of the patches, while the ones I haven't touched were fine to being with.

These have all been tested, so we're done here.

[2019-07-16 12:38] #19 closed

[2019-07-16 13:10] Taranchuk commented on #20
I like this suggestion, it solves problems with compatibility of patches and allows you to develop fork.

[2019-07-16 13:47] AthenaSulisMinerva commented on #20
@Taranchuk, please test this exact dev build with your other CE patch mods:

https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/archive/3533cbb3e6465ef7b26a8c8fff1d4875a30bb61a.zip

[2019-07-16 14:54] Taranchuk commented on #20
Yesterday I already changed the mod name in About.xml and started the game, the red errors disappeared and everything works fine. But I will download your dev mod and try to run it again, but you have to wait, my huge mod list loads for a long time.

[2019-07-16 16:49] Taranchuk commented on #20
Sorry for the delay, I had to leave home about my business. I started the game now, no red errors appeared, the game works fine, the dev build works fine.

[2019-07-17 10:16] AthenaSulisMinerva commented on #20
Excellent.

I'll probably push out an update with these changes soon.

[2019-07-17 10:16] #20 closed

[2019-07-21 04:26] Flippy1 opened #21 "Multiplayer"
Of course this is the pipe dream and probably flat out impossible but i want to ask anyway, is it possible to get a MP patch.

[2019-07-21 07:26] legendslayer98 opened #22 "Project Fallout"
Hi, This is probably quite a big ask as it is a fairly big mod, but could Compatability be added for this mod, Thank You in advance and here is the link to the mod : https://steamcommunity.com/sharedfiles/filedetails/?id=725471844

[2019-07-21 12:27] AthenaSulisMinerva commented on #21
The CE:FT team only does compatibility patches for weapons and ammo, not in-depth API or assembly code changes.

And it looks like it's something that the Multiplayer mod team has to do on their end anyway (Parexy/Multiplayer/issues/36)

[2019-07-21 12:27] #21 closed

[2019-07-21 12:28] AthenaSulisMinerva commented on #22
Whenever you have time, @sumghai, this one's yours - I know you're busy with patches for other mods, as am I.

[2019-07-23 21:28] TheEventHorizon commented on #15
Run into any difficult objects to patch? I'm extremely novice when it comes to programming but I'm more than happy to help in any way I can.

[2019-07-23 21:29] TheEventHorizon commented on #14
Run into any difficult objects to patch? I'm extremely novice when it comes to programming but I'm more than happy to help in any way I can.

[2019-07-24 10:39] AthenaSulisMinerva commented on #14
It just takes time to sit down and systematically plan out which items to patch and how, and whether some patches can be consolidated at the start.

[2019-07-24 10:44] AthenaSulisMinerva commented on #15
I'm sure sumghai is still working on the patches, but he does have a very busy day job as an engineer. He'll let us know when he's ready.

(By the way, please don't include the entire quote in your reply, especially if it is very long - I've just edited your last comment. In fact, you don't always need to quote someone when replying)

[2019-08-02 13:51] sumghai opened #23 "High Caliber Mod - crafting recipes"
High Caliber's author eatKenny recently published a version OnlyMarvellous' that enables crafting for all of the mod's weapons.

Therefore, it makes sense to balance the crafting costs if CE:FT is running.

[2019-08-02 13:56] sumghai commented on #23
Done!

[2019-08-02 13:56] #23 closed

[2019-08-03 17:45] Zaken187 opened #24 "Transport Pod event spawns fully healed pawns."
So for some reason, transport pods spawn pawns that are fully healed.

Having the individual mods doesn't cause the issue, but have both ZL and CEFT at the same time does.

[2019-08-03 23:56] AthenaSulisMinerva commented on #24
CE:FT isn't much different from CE, other than adding some new compatibility patches and ammo types.

Does this issue also occur when Zombieland is used with the original Combat Extended mod?

[2019-08-04 00:02] TheEventHorizon commented on #24
I think this was patched today by the zombieland devs. They just pushed an update on steam a few hours ago.

[2019-08-04 00:59] Zaken187 commented on #24
They patched the surgery thing, the drop pod thing is a whole other issue.
Its not as big of a deal as Surgeries flat out not working though..

[2019-08-04 02:56] AthenaSulisMinerva commented on #24
Just to confirm, this issue happens in both CE and CE:FT?

If so, then that's not really our problem, since CE:FT will just include whatever fixes the original CE gets in their public releases.

[2019-08-04 03:54] Zaken187 commented on #24
Aint that a pain. Okay that, Ill see if the CE team can fix.

[2019-08-04 04:10] #24 closed

[2019-08-09 13:58] NMJohns opened #25 "Normal CE patches compatible?"
If I have a regular CE patch for something will that work with CE:FT?

~~Also, any plans for patching Dinosauria, Megafauna, or Alpha Animals?~~

[2019-08-10 06:52] AthenaSulisMinerva commented on #25
Yes, CE:FT will recognize old patches originally written for CE.

To request compatibility patches for third party mods, please start a new issue for each of the three mods.

[2019-08-10 06:52] #25 closed

[2019-08-12 19:22] Inazuma00 opened #26 "No Mechanoid raids"
somehow the mod is preventing mechanoid raids to appear. i only have this mod loaded and tried to spawn a raid but only get an error and no raid appears.

[2019-08-13 12:11] Taranchuk commented on #26
Same problem. Although I’m not sure whether the problem is in this mod or in what else, but I’m at the 4 year of the colony and there were no mechanoid raids. Regular raids come normally. I do not know how to narrow down the number of potentially conflicting mods without a long wait for mechanoid raids in the game.

[2019-08-16 13:26] AthenaSulisMinerva commented on #26
This is unexpected.

CE:FT has made no changes to Mechanoid raid incidence, as it just adds compatibility patches. Are you sure this issue isn't also present in the original CE mod?

[2019-08-16 16:51] Taranchuk commented on #26
Well, I think the problem is in other mods (at least in my case)
When I leave these mods on:
[code]
and spawn mechanoids raid. then they come normally. When I mechanoids with other mods, some kind of error occurs in the debug log and they do not appear on the map. Now it remains only to narrow down the  conflicting mods, but a lot of time needs to be spent on dropping out mods and testing.

[2019-08-16 18:10] onigamii opened #27 "Make RN backpacks usable with Tac Vests"
Hi, i noticed that the RimmuNation backpacks can't be used with the Tactical Vests so i wrote a small patch and figured i should share it here.

[code]

[2019-08-17 07:06] Inazuma00 commented on #26
ah it looks like its CE itself thats stopping the mechanoid raid, it spawned fine when i was using vanilla but was getting these error when i used CE

https://gist.github.com/HugsLibRecordKeeper/1116efc6d03d1d8730d94bff3260dd86 <- CE:FT
https://gist.github.com/HugsLibRecordKeeper/e13b113e24fae1f399586be1f2432ebb

[2019-08-17 12:05] AthenaSulisMinerva commented on #26
@Taranchuk, if you can also confirm @Inazuma00's observation that the problem is with the original CE mod itself, then I can mark this issue accordingly before closing.

You guys may also wish to notify @NoImageAvailable of the issue in his repo.

[2019-08-17 12:17] AthenaSulisMinerva commented on #27
@sumghai - Can you take a look at this when you're free?

[2019-08-17 14:32] Taranchuk commented on #26
In my case, it’s definitely not about CE, they spawn perfectly when I use only this mod. But I still could not find out which mods are responsible for the lack of mechanoids, because I deleted one mode that was responsible for the spawn error, but without it the mechanoids still do not come and a lot of time has passed.

[2019-08-18 00:51] AthenaSulisMinerva commented on #26
At any rate, this isn't really our problem anymore.

[2019-08-18 00:51] #26 closed

[2019-08-18 00:55] sumghai commented on #27
@onigamii - I'm not sure if this falls under the purview of CE:FT.

Are the Tactical Vests from RN as well, or from vanilla?

[2019-08-18 13:07] onigamii commented on #27
Tactical Vests are from CE

[2019-08-18 16:52] Inazuma00 opened #28 "Rabbie the Moonrabbit Mod"
looks like they have similar weapon usage and stuff to Kurins, hoping it wouldnt be too hard
https://steamcommunity.com/sharedfiles/filedetails/?id=1837246563

~also about the issue before with no mechanoid raids, it seems it also affects factions with no sapper pawnkind and ImmediateattackSmart was disabled or somewhere around there.
was recommended to delete \CombatExtended\Patches\Core\Storytel

[2019-08-20 13:54] sumghai commented on #15
Sorry for the late response - I was away on a company offsite training program for two weeks.

I've also been quietly working behind-the-scenes to implement a new, minor feature to support Glitter Tech ammo - a special variant of the vanilla `Graphic_StackCount` class called **`CombatExtended.Graphic_StackCountRanged`**.

Like the vanilla stack count graphic class, it allows the use of multiple su

[2019-08-21 10:38] AthenaSulisMinerva commented on #15
That's pretty cool!

Are you also going to update the graphics definitions for all the existing ammo?

[2019-08-21 10:41] AthenaSulisMinerva commented on #28
Since @sumghai has too much on his plate right now, I'll look into this when I have the time.

Also, please don't discuss unrelated issues in the same topic.

[2019-08-23 17:58] Taranchuk commented on #15
Can you nerf the automatic mortars via patch? Because if there are automatic mortars on quest maps, then this is a 100% chance that my caravan will be lost and this is my biggest complaint to the mod.

[2019-08-24 00:12] sumghai commented on #15
@AthenaSulisMinerva - Nah, that will confuse most users (including myself) who are used to the current behaviour for conventional gunpowder cartridge ammo. As previously mentioned, the new **`CombatExtended.Graphic_StackCountRanged`** class is really only for sci-fi ammo.

@Taranchuk - Which aspect of the auto mortars need to be nerfed? Rate of fire? Accuracy? Range?

A specific description on whi

[2019-08-24 13:26] Taranchuk commented on #15
@sumghai Probably accuracy, at least there should be a chance that the mortars would shoot the wrong way.

[2019-08-24 23:50] sumghai commented on #15
@Taranchuk - Okay, I should be able to tone down accuracy a bit for CE:FT. You'll probably have to help me test it when the time comes.

[2019-08-25 00:07] AthenaSulisMinerva commented on #15
@sumghai - Okay, makes sense.

[2019-08-27 11:51] sumghai commented on #15
I've got the EMRG and Cannister turrets working just fine.

However, I'm having problems with the three automatic mortar turrets (Auto, Cluster and EMP):
- Players cannot change ammo type (HE/Incendiary/Antigrain/etc.)
- Mortar turrets have unlimited ammo, rather than being able to be reloaded

I'm currently comparing the GT mortar turrets to both the CE patches for the Core (vanilla) mortars and

[2019-08-28 11:08] Inazuma00 commented on #28
hello, it seems like someone made a CE patch for rabbie but it's incomplete, i hope this helps in easing up the work on it
https://steamcommunity.com/sharedfiles/filedetails/?id=1843574431&searchtext=

[2019-08-28 13:14] sumghai commented on #27
@onigamii - please test the following dev version of CE:FT, and confirm that the desired behaviour has been implemented:

https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/archive/b5623da5a1dd3171e8e23d266420f7c7a283b99f.zip

[2019-08-30 14:06] sumghai commented on #15
Automatic mortars are now working. Progress! :)

All mortars have a maximum ammo capacity of 25 mortars, the max stack size of CE 81mm mortar rounds. I've correspondingly reduced the round per salvo from 12 to 5 for the cluster and EMP mortars, as 25 ÷ 5 = 5 salvos means pawns will reload the mortars less often than 25 ÷ 12 ≈ 2.08 salvos; besides, a 12-salvo would be quite wasteful now that player

[2019-08-30 19:10] RoronoaDroagon opened #29 "More Vanilla Turrets 1.0"
Have done some testing and tryd to get the said mod: More Vanilla Turrets 1.0  https://steamcommunity.com/sharedfiles/filedetails/?id=1478936958
to work with CE both with the xpath and with making the mod definitions with CE definitions and i'm hiting the same issue: pawns stuck when reloading turrets, both mand and unmaned.
I'm far from any expert or got enough knowlege about coding to be able to

[2019-08-31 00:28] NMJohns opened #30 "Android Tiers CE Patch"
Already exists here: https://steamcommunity.com/sharedfiles/filedetails/?id=1386530536

Can this be included in the CEFT  base mod?

[2019-08-31 08:24] sumghai commented on #30
I'll take a look once I'm done with the Glitter Tech patches.

[2019-08-31 08:24] sumghai commented on #29
I'll take a look once I'm done with the Glitter Tech patches.

[2019-08-31 14:33] RoronoaDroagon commented on #29
Awesome.
It's just to say if you want the 20mm cannon round file i made for it....??
I figured it's a 20mm vulcan cannon but it was just a temp to see.
I appreciate you guy's taking the time to do thees kind of things.
I know alot of people don't see the time and effort put in to all the patches and fixes.
And i can't say it enough but: keep up the good work and that there is people out here that

[2019-08-31 15:31] NMJohns commented on #30
Is there anything I can do to assist? I really like this mod. I understand XML. Is there a guide I can check out to help with the refactoring of some of these patches?

[2019-09-01 02:01] onigamii commented on #27
@sumghai Sorry for the delay it's working as intended.

[2019-09-01 06:35] sumghai commented on #15
Missile turrets have now been patched (for the most part).

Remaining issues:
- Missile turrets currently fire projectiles up in a parabolic arc like a mortar, instead of a flatter and more direct trajectory; this is because they use `CombatExtended.Verb_ShootMortarCE`, rather than the usual `CombatExtended.Verb_ShootCE` (which require line-of-sight targeting and cannot fire over walls). A compreh

[2019-09-01 08:14] sumghai commented on #27
Okay, thanks! I'll wrap things up around here.

[2019-09-01 08:14] #27 closed

[2019-09-06 00:12] NMJohns opened #31 "Magical Menagerie"
https://steamcommunity.com/sharedfiles/filedetails/?id=1821617793

Another suggestion for the list.

[2019-09-07 14:36] sumghai commented on #15
I've decided to internally rename most of the Glitter Tech ammo defs to use more generic names and categories, so that they (or at least their textures) can be reused for other third-party mods, without being locked into Glitter Tech-specific descriptions.

[2019-09-08 13:11] sumghai commented on #15
This is *just about* done.

The only thing left is a minor QoL improvement for the missile launchers - seeing if I can modify `CombatExtended.Verb_ShootCE` to support `<requireLineOfSight>` so that I can use that class instead of `CombatExtended.Verb_ShootMortarCE` (which fires missiles in a parabolic arc).

[2019-09-08 13:55] sumghai commented on #15
Nope, no can do - missile launchers will just have to behave like mortars for now.

Otherwise, everything else seems to be in place, so I reckon we can call this a wrap.

[2019-09-08 13:55] #15 closed

[2019-09-09 13:27] sumghai opened #32 "RN Weapons Mod - update"
The latest update to RN Weapons adds the SA80 / L85A2 assault rifle.

Note: This is a bullpup weapon with single (semi) and fully automatic modes - no three-round bursts.

[2019-09-09 13:31] sumghai commented on #32
Should be good to go.

[2019-09-09 13:31] #32 closed

[2019-09-11 20:44] ManiacDK opened #33 "Turret collection mod"
Would it be possible to get a patch to get the above mentioned mod to be compatible with CE?
I am still very new to modding, and know next to no coding, so I don't really want to go deep diving and end up ruining more things that fixing.
Thanks in advance :)

[2019-09-11 22:05] ManiacDK commented on #33
Also I just started using FastTrack instead for my new playthrough, and I am getting some XML errors,
XML error: Duplicate XML node name MeleeParryChance or (MeleeDodgeChance, MeleeCritChance) in this XML block: <statBases><MoveSpeed>3.35</MoveSpeed><ComfyTemperatureMin>-16</ComfyTemperatureMin><MarketValue>225</MarketValue><MeleeDodgeChance>0.17</MeleeDodgeChance><MeleeCritChance>0.1</MeleeCritCh

[2019-09-13 13:40] ManiacDK commented on #33
Also when using CE:FT, I can no longer craft a lot of the weapons.
Is there any way to fix this.

[2019-09-13 23:01] AthenaSulisMinerva commented on #33
@sumghai - Sorry dude, here's another one for you. But no rush, so no milestone for now.

@ManiacDK - Please open separate issues for each of your questions - I deleted your other ones because they had nothing to do with your first request for mod compatibility. The GitHub issue tracker is not a forums or chat thread.

[2019-09-13 23:51] ErusCormag opened #34 "Vanilla Armour Expanded & Vanilla Apparel Expanded"
https://steamcommunity.com/sharedfiles/filedetails/?id=1814988282

https://steamcommunity.com/sharedfiles/filedetails/?id=1814987817

The mod author says that compatibility is built into the github version of CE but I don't think they were talking about CEFT.

[2019-09-14 05:57] AthenaSulisMinerva commented on #34
I had a look at the original CE repo on GitHub, and it turns out that the CE patches for those two mods are in the (unreleased) **_development_** branch, instead of the master branch where releases normally come from. In order words, the author announced compatibility before it was officially available, and even then pointed to the wrong location.

We'll wait until CE officially releases their nex

[2019-09-14 05:59] AthenaSulisMinerva commented on #31
I'll get around to this eventually.

[2019-09-14 06:24] ManiacDK opened #35 "XML error using CE:FT"
So i recently switched from the regular and its extensions to CE:FT, and now when I start the game up I get a lot of errors about and I quote.
" XML error: Duplicate XML node name MeleeParryChance in this XML block: <statBases><MoveSpeed>3.35</MoveSpeed><ComfyTemperatureMin>-16</ComfyTemperatureMin><MarketValue>225</MarketValue><MeleeDodgeChance>0.17</MeleeDodgeChance><MeleeCritChance>0.1</MeleeCr

[2019-09-14 14:28] AthenaSulisMinerva commented on #35
What mods are you using?

To diagnose the problem:
- Start a new, separate savegame with only CE:FT enabled
- Confirm that the issue does not appear (yet)
- Add your other mods one at a time until you get the same error message

Only then will we be able to know which mod is causing the problem.

[2019-09-14 16:53] ManiacDK commented on #35
I am running:
Mod - e
Core
Mod Manager
Miscellaneous 'CORE'
HugsLib
Giddy-up! Core
Vanilla Furniture Expanded & Vanilla Furniture Expanded - Medical
RimStory
Show Draftees Weapon
Recipe icons
Combat Extended Fast Track
Combat extended Shields
Combat extended Guns
Roof support 1.0
RimHUD
What the hack?!
Psychology
Medical Tab
Relations Tab
Colony Manager
Outdoor Lighting
MineItAll - 1.0
ED-Enhanced

[2019-09-15 00:01] AthenaSulisMinerva commented on #35
Remove the AnimalCollabProj patch pack - CE:FT already comes with built-in support for AnimalCollabProj.

For a full list of mods CE:FT already supports, please refer to the [README](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/blob/master/README.md).

[2019-09-15 07:03] ManiacDK commented on #35
Thanks for helping me.
As a seperate question retaining to my mod list, should I remove any other mods to avoid something similar from happening?
Also apologies for being a bit of an idiot and not reading the readme, or the description of the mods I am using.

[2019-09-15 07:51] AthenaSulisMinerva commented on #35
Once again, please refer to the README for the list of mods with built-in support.

Since this issue has been resolved, I'm going to close it now.

[2019-09-15 07:53] #35 closed

[2019-09-15 07:54] #34 closed

[2019-09-15 08:58] sumghai commented on #29
Okay, these are patched and ready to go.

Summary:
* **Gun Complex** is based on the M2HB .50 cal. machine gun
* **Rocket Complex** is based on the Mk 153 SMAW rocket launcher; the original weapon is a single-shot reloadable shoulder-fired launcher, while the MVT version has a magazine capacity of five rockets to emulate pawns keeping a small supply of rockets at the complex (so that they don't ne

[2019-09-15 08:58] #29 closed

[2019-09-15 19:59] Kazzerk opened #36 "Incompatible with Doors expanded?"
I have lag spikes with explosions with this mod and Doors Expanded.

You can read from the last update "Fixes explosion slowdowns that occur while playing the CE mod coupled with Doors Expanded. The fix was engineered by JonnyNova."  I think the fix doesn't work for CE:FT. I removed Doors Expanded and my problem with explosions was gone

Log doesn't show any error when this happen.

Doors Expanded

[2019-09-16 13:42] sumghai commented on #31
Done.

[2019-09-16 13:42] #31 closed

[2019-09-16 13:51] AthenaSulisMinerva commented on #36
CE:FT still uses the same assembly name and class references as the original CE mod, so the fixes from Doors Expanded that apply to CE should also automatically work for CE:FT.

Can you try starting a new save game with **_only_** CE:FT and Doors Expanded, just to confirm that it's not a third-party mod that's actually causing problems?

[2019-09-19 10:12] Taranchuk opened #37 "[Combat Extended] Patch operation Verse.PatchOperationFindMod(Glitter Tech, Glitter Tech (No Surgery)) failed"
Error message:
[code]
When I load the original CE, then there is no error. There is an error in the Fast Trask master. Hugslib log: https://gist.github.com/HugsLibRecordKeeper/22cdab2be3f0c5a1df032f314be61ebc

[2019-09-19 10:20] Taranchuk commented on #37
I got rid of the error by inserting the line <success>Always</success> below <match Class="PatchOperationSequence"> in the file GlitterTech_CE_Patch_TraderKinds.xml.

[2019-09-19 11:26] sumghai commented on #37
Oh, shit!

@AthenaSulisMinerva - could you please hold off on publishing the next update? I gotta fix this first.

[2019-09-19 12:01] AthenaSulisMinerva commented on #37
@sumghai - No worries. I'm also waiting on @Freedom187 to sort out the Steam Workshop ID file anyway.

[2019-09-19 12:02] sumghai commented on #37
@Taranchuk - Please check my latest commit, and confirm that the issue has been fixed on your end as well.

[2019-09-19 14:30] Taranchuk commented on #37
@sumghai the error is gone.

[2019-09-20 10:52] sumghai commented on #37
@Taranchuk - Thanks!

@AthenaSulisMinerva - I'm marking this one as fixed.

[2019-09-20 10:52] #37 closed

[2019-09-21 05:38] NMJohns opened #38 "Megafauna mod"
There's an already existing patch

Mod: https://steamcommunity.com/workshop/filedetails/?id=1055485938
Patch: https://steamcommunity.com/sharedfiles/filedetails/?id=1092233785

[2019-09-21 07:31] Taranchuk commented on #33
Actually Turret collection mod made by eatKenny:
https://ludeon.com/forums/index.php?topic=6895.0
leafzxg is just a steam uploader.

[2019-09-21 11:55] AthenaSulisMinerva commented on #38
The CE:FT team will usually rewrite the patches from scratch ourselves.

[2019-09-21 11:55] AthenaSulisMinerva commented on #36
@Kazzerk, can you please follow up on my last request? Otherwise, I will have to close this issue.

[2019-09-21 11:57] AthenaSulisMinerva opened #39 "NewRatkinPlus mod"
Original mod: https://steamcommunity.com/sharedfiles/filedetails/?id=1578693166

[2019-09-21 19:02] Nanao-kun opened #40 "Firing over the shoulder"
Vanilla Rimworld allows pawns to fire over the shoulders of a pawn in front of them. Doing the same in CE pretty much guarantees friendly fire. Was this feature intentionally disabled, or is it a bug? They can even easily hit downed pawns in front of them instead of the target.

[2019-09-21 23:13] LockdownX7 commented on #40
That's a bug, will be fixed in the next release.

[2019-09-22 00:11] #40 closed

[2019-09-22 02:50] AthenaSulisMinerva commented on #28
The CE:FT team will usually rewrite the patches from scratch ourselves.

@Inazuma00 - Please test our latest commit.

[2019-09-22 15:00] Rancra opened #41 "A way to completely remove ammo?"
Would it be possible to add an option to completely remove ammo from the game? It makes getting quest specific items like resurrector mech serum hard.

[2019-09-22 19:05] TheManEmperorOfMankind opened #42 "Rimhammer 40k"
Original mod: https://steamcommunity.com/sharedfiles/filedetails/?id=1513943591&searchtext=rimhammer

[2019-09-22 19:11] Loboo opened #43 "Game crashes when loading with RH Faction mods"
game crashes when i try to load RH factions, no matter which one. First takes a lot to load (While loading crashes sometimes) sometimes loads but crashes during the world selection.
Any solution?
If theres not i still have to thank your team for doing such hard work as working with CE.

[2019-09-22 19:15] TheManEmperorOfMankind opened #44 "Adeptus Mechanicus armory- mod"
Original mod: https://steamcommunity.com/sharedfiles/filedetails/?id=1541438614

[2019-09-23 05:39] raith7062 opened #45 "Kijins race"
https://steamcommunity.com/sharedfiles/filedetails/?id=1730054284&searchtext=kijin

link to the original mod.

[2019-09-23 11:13] Taranchuk commented on #44
[Adeptus Mechanicus: Armoury R1.0 Combat Extended Patch](https://steamcommunity.com/workshop/filedetails/?id=1685177304/)

[2019-09-23 11:48] AthenaSulisMinerva commented on #41
Both the original CE and the CE:FT fork have the option in the Mod Settings dialog to enable/disable ammunition:

![Untitled](https://user-images.githubusercontent.com/49829079/65423110-d84e7280-de3a-11e9-8f76-b2b097342f19.png)

Does that not work for you?

[2019-09-23 11:55] AthenaSulisMinerva commented on #36
Closed due to no response or follow-up.

[2019-09-23 11:55] #36 closed

[2019-09-23 11:59] AthenaSulisMinerva commented on #42
Yeesh, this is a huge pack, and apparently still under development with potentially savebreaking changes between updates.

Marking this one for a lower priority.

[2019-09-23 12:01] AthenaSulisMinerva commented on #43
@sumghai - You're familiar with Rimmu Nation. Thoughts?

[2019-09-23 12:04] AthenaSulisMinerva commented on #44
@sumghai, if you have time, please ask the author of the patch whether they'd like to submit their patches for inclusion into CE:FT.

And if they need to maintain the patches in the future, see if they want to be added as a contributor to the CE:FT repo.

[2019-09-23 12:09] AthenaSulisMinerva commented on #45
The author ssulunge made [an attempt at CE patches](https://steamcommunity.com/sharedfiles/filedetails/?id=1768010561), although they couldn't do weapons and items for various reasons.

@sumghai - I just saw that you had contacted the author in the past. How did it go?

[2019-09-23 12:27] raith7062 commented on #45
Went pretty well actually. He's not hard to contact from my experience

On Mon, Sep 23, 2019, 7:09 AM Athena Sulis Minerva <notifications@github.com>
wrote:

[2019-09-23 12:51] sumghai commented on #43
@Loboo - you will need to determine the cause of your problem via a process of elimination:

1) Try starting a new savegame with only Core and CE:FT; confirm that there are no crashes
2) Add **one** (only **one**) of your RH mods, start another new savegame and check
3) Repeat (2) for each of the RH faction mods

[2019-09-23 12:52] sumghai commented on #44
I'm a bit busier this week, but I'll see what I can do.

[2019-09-23 12:53] sumghai commented on #45
Yikes, I forgot to follow up on this. I'll do it when I have a bit more free time.

[2019-09-23 14:47] Rancra commented on #41
After making a new save im not having any more issues, thank you for the help.

[2019-09-23 14:47] #41 closed

[2019-09-23 16:07] Hunterhal opened #46 "Medical Supplements Mod"
Hello, first of all, great mod.

FastTrack already compatible with this mod. But the Medical Supplements mod brings mining Sulfur, Lithium, and Mercury mining and other chemicals. It will be good immersion if you can add these items to recipes of ammunition.

Thanks again.

[2019-09-23 19:00] Malminas opened #47 "Vanilla Weapons/Apparel/Animals Expanded"
All the mods by Oskar Potocki, I don't know how many of them need it.

[2019-09-23 20:20] ChickenPluckers opened #48 "Red Horse: British Military and Elite Crew"
Alright, what's up legends. This is for the Red Horse issues with two mods innit fam.

British Military Kit is finished. End of dit, fair one. Let's have a patch quicktime bruv

Elite Crew has the following new weapons:

From file: RN_RangedIndustrialGrenades.xml
RNThrown_RGDNade
RNThrown_PUBGVodka
RNThrown_C4CSGO_Elite

From file: RN_MeleeNeolithic.xml
RNMeleeWeapon_Knife_Skinner

[2019-09-23 20:39] magmabee opened #49 "Rimatomics"
The turrets don't seem to give any errors, however the damage on most of them doesn't actually make sense. It would be nice for them to have actual CE support.

[2019-09-24 01:10] kazenokizu opened #50 "Weapon Tech"
Can we get a patch for https://steamcommunity.com/sharedfiles/filedetails/?id=1542854752&searchtext=weapons+tech

[2019-09-24 04:44] Nanao-kun opened #51 "Zombieland targeting through walls"
Is there anyway to prevent pawns from trying to target zombies over walls?

[2019-09-24 11:27] AthenaSulisMinerva commented on #46
Unfortunately, that's highly impractical - there are a very large number of ammo cartridges in CE that could use sulfur for gunpowder, and I can't see the point of going through all of them just to add this extra ingredient.

Besides, that level of crafting abstraction is far too detailed (almost to the same extent as UN Colony).

The ammo crafting experiences should be consistent for all users as

[2019-09-24 11:28] AthenaSulisMinerva commented on #47
Duplicate of #34.

Closing.

[2019-09-24 11:30] AthenaSulisMinerva commented on #48
@sumghai - Since you and I are both big fans of RN, this should be your number one priority (once you're less busy with your day job, that is).

[2019-09-24 11:32] AthenaSulisMinerva commented on #49
*Which turrets?
*Is the damage too low? Too high? Wrong type of damage?

Please be more specific in your requests, so that we can estimate how much time, effort and resources we have available to work on this issue.

[2019-09-24 11:36] AthenaSulisMinerva commented on #50
This one's yours, @sumghai.

[2019-09-24 11:37] AthenaSulisMinerva commented on #51
Is this an issue specific to CE:FT, or does it happen in the original CE mod as well?

[2019-09-24 14:50] Mish-9 opened #52 "Project Armory 1.2"
This is a massive collection of weapons and can understand if this is a no go or on back burner, but I have seen many people beg for this but nothing on this GitHub. Please let us know if this is a possibility.
Link for the mod page - https://steamcommunity.com/sharedfiles/filedetails/?id=1245964483&searchtext=Project+Armory+1.2

[2019-09-24 16:43] picard65 opened #53 "rimworld of magic technomancer engingeer weapon"
when you try to copy a weapon with the technomancer power it does not create any of them (tryed with more mods and with only core, fasttrack combat extended, rimworld of magic, and hugslib and jecstools, as those last two are prerequisites of rimworld of magic) this is what the log has to say about that:

cannot copy target thing or unable to restore techno weapon
Verse.Log:Message(String, Boolean

[2019-09-24 16:57] Nanao-kun commented on #51
Checking with just Zombieland, Hugslib, and CE:FT, they do target. It also occurs with the original CE mod. It's odd though, as it's only some of the time. Perhaps some oddity with how the zombies target?

[2019-09-24 20:44] magmabee commented on #49
The Marauder's explosions, despite being explosive damage and pretty powerful, do almost no damage to mechs such as centipedes. The Punisher's regular Sabot cartridges also do next to no damage to mechs, which really, makes no sense. The ADS also seems to have problems doing much of anything, I couldn't get it to work against pawns during tests. Good thing is, other than the disappointing damage d

[2019-09-24 22:02] koston32 opened #54 "Medieval times - Musket ammo"

[2019-09-24 22:08] koston32 commented on #54
Currently there is no way of obteining it as i've seen so far

[2019-09-24 22:51] Blackcatmaxy opened #55 "Rimsenal support"

[2019-09-24 22:55] Loboo commented on #43
thanks for answering! I done that and they actually work pretty well. The problems starts if i put more than one faction, or other mods (No matter wich ones it breaks the game atfer a couple ones, even cosmetics)

 So, something that i want to ask
This could be related to the pc specs? (Wich im not gonna lie its pretty potato quality)
Thanks for answering again ^^

[2019-09-25 01:33] rawrfisher opened #56 "Possible edge case"
https://gist.github.com/379ec8de773d79d3b9af48474a37a073

Might just be something with my setup but the reflect from staff of defender seems to throw an error
The error is at the bottom

[2019-09-25 08:03] Taranchuk commented on #55
[Rimsenal + Combat Extended Patch Pack](https://steamcommunity.com/workshop/filedetails/?id=1794246151)

[2019-09-25 08:10] #54 closed

[2019-09-25 11:39] AthenaSulisMinerva commented on #49
In CE, damage comes from the projectiles rather than the gun/turret itself - therefore, vanilla projectile damage definitions no longer affect targets.

If and when we get around to patching this, patching the projectiles will be the first thing we try.

[2019-09-25 11:44] AthenaSulisMinerva commented on #51
As this is an issue with the original CE mod, your should ask about this issue over in their repo instead.

[2019-09-25 11:45] #51 closed

[2019-09-25 22:47] Dayvox opened #58 "Medkits doon't work whenever i have this mod enabled."
I like this mod and all, it's useful for combat extended but, every time I have it enabled medkits don't work, and this issue only happens when I have this specific mod enabled, it might have to do with other mods but I don't know.

[2019-09-26 06:48] rawrfisher commented on #56
I'm running into issues where guns refuse to reload even when from mods that are supported

[2019-09-26 11:08] sumghai commented on #53
@AthenaSulisMinerva - You should test this out on your end.

[2019-09-26 11:12] sumghai commented on #43
Have you tried loading multiple RH factions _without_ CE:FT?

If you could tell us what happens when you do that, then we can definitively determine whether it's to do with your PC not being able to handle multiple mods in general, or CE:FT not being able to handle multiple RH factions (the last of which is unlikely, given that while I was developing RH patches, I did in fact have multiple faction

[2019-09-26 11:34] AthenaSulisMinerva commented on #53
Sure thing.

[2019-09-26 11:37] AthenaSulisMinerva commented on #58
* You need to be more specific by "not working". Do the medkits not spawn at all? Or do the medkits return error messages when pawns try to use them? (If so, please copy and paste the relevant error message).

* Do you still get this error when _only_ running Core and CE:FT?

* Do you get this error with the original CE mod?

[2019-09-26 12:45] Hunterhal commented on #46
Athena thanks for the reply, If you have time can you give some tips for starting the modding.

[2019-09-26 15:57] Dayvox commented on #58
1. You can craft it, you start in the game with it, you can spawn it in dev mode, what's not working is that whenever a pawn tries to use it on another, it doesn't patch the wound, and the pawn tries repeatedly with other medkits to patch the wound when he ends all the medkits, he just seeks another to try to tend the pawn. And no error messages are shown, I've checked debug log various times and

[2019-09-26 17:05] #58 closed

[2019-09-26 22:33] Scotty2botty opened #60 "british"

[2019-09-26 22:33] #60 closed

[2019-09-26 22:38] Scotty2botty opened #61 "[CP]British Military Kit (1.0)"
Pls add xxx

[2019-09-27 08:00] githubuser1256 opened #62 "Mod: Combat Extended Fixes Partial Integration?"
Are you aware of the Combat Extended Fixes mod? I think at least one of his changes is a bugfix e.g. Minigun capacity dropped to 500, 250shot burst, so you can actually reload it properly.

[2019-09-27 10:37] AthenaSulisMinerva commented on #61
Duplicate of #48.

[2019-09-27 10:37] #61 closed

[2019-09-27 11:32] AthenaSulisMinerva commented on #62
Yeesh, those "fixes" are more like personal tweaks. And I have no idea what that DLL is supposed to do.

Thoughts, @sumghai?

[2019-09-27 11:35] AthenaSulisMinerva commented on #56
You've got a whole bunch of other mods loaded, along with their corresponding errors, so we can't tell if a third-party mod is interfering with it.

Try starting a new savegame with only Core, CE, RoM and the bare minimum of dependencies necessary to run RoM.

[2019-09-27 12:37] sumghai commented on #62
https://steamcommunity.com/sharedfiles/filedetails/?id=1776175645

The author even name-dropped CE:FT.

That mystery meat DLL changes various CE behaviours:
- Eliminates bulk from ammunition in firearm magazines
- Loadouts as "positive item lists" (i.e. existing non-loadout items don't get dumped from inventory)
- Changes suppression mechanic so that pawns will eventually hunker down but never run

[2019-09-27 12:54] AthenaSulisMinerva commented on #62
Agreed - Closing.

@sumghai, tell the author what you just said here.

[2019-09-27 12:55] #62 closed

[2019-09-27 14:51] rawrfisher commented on #56
https://gist.github.com/b80a7ba73b8ac4f73929dc212349baba

Bottom of the list

I ended up finding out a couple other annoying issues too but  they are just quirks with RoM

[2019-09-27 17:46] Necrikus opened #63 "Cross Reference Errors"
I'm not sure what's triggering it other than CE, but I am getting errors on the main menu just from having it active. It seems that turrets are involved, but I'm not that good at reading the debug log to know much more than that. I just know that after removing numerous other mods, the errors went away after removing CE.

https://gist.github.com/5d7dabefd4138883fe084d48975518e0

[2019-09-27 20:27] TheKaiser223 opened #64 "Rimworld of Magic - Load Order"
Before or after "combat extended"? This must be such a stupid question and I don't know where to ask it, but no matter which order I put it in it's throwing up a bunch of errors, so I imagine I must be doing something wrong.

[2019-09-27 23:46] rawrfisher opened #65 "Xeva Faction Patch request"
https://steamcommunity.com/sharedfiles/filedetails/?id=1823549410&searchtext=Xeva

If you get a chance can you add support for this mod?

[2019-09-28 06:58] AthenaSulisMinerva commented on #64
Load order should not matter.

Try start a new savegame with only the following:
* Core
* CE:FT <--- this can go anywhere after Core
* HugsLib
* Jecstools
* A RimWorld of Magic

Once you confirm you don't get any errors with this minimal setup, slowly add your other mods back in until you find out what is actually causing the error.

[2019-09-28 07:00] AthenaSulisMinerva commented on #63
Try starting a new savegame with only Core and CE:FT - confirm that you don't get any errors with this configuration.

Then slowly add your other mods back in until you encounter your first error. That will give you a good idea of which mod is actually causing the problem.

[2019-09-28 07:04] AthenaSulisMinerva commented on #28
I've tested the patches myself with no problems, and since @Inazuma00 has not responded in a timely manner, I'm going call this one done.

[2019-09-28 07:04] #28 closed

[2019-09-28 15:51] Bruceuu opened #66 "Loadout button gone?"
My loadout button is gone. is this from an incompatibility
![gone](https://user-images.githubusercontent.com/46940139/65818972-2e466000-e217-11e9-8487-de48d0b6b473.png)

https://gist.github.com/26e9abe22285d517e7e6c4b03d5eb35e

[2019-09-28 16:42] TheKaiser223 commented on #64
This can be locked, I overlooked something stupid. Sorry for wasting your time.

[2019-09-28 20:20] Caferino opened #67 "Red Errors with Compatible Mods"
https://gist.github.com/HugsLibRecordKeeper/460aba726c4bd66f95c105fdaca0f1a2

None of the mods in my list seem to be incompatible or leave a clue of causing a conflict, I already tried by disabling many of them and managed to solve tons of red errors I had before, but right now I struggle mainly with these two:

1. When choosing Rimcities's Friendly City scenario and then right after opening Prepa

[2019-09-29 01:08] NMJohns opened #68 "Support for Vanilla Animals Expanded Series"
https://steamcommunity.com/sharedfiles/filedetails/?id=1700683323
https://steamcommunity.com/sharedfiles/filedetails/?id=1849184079
https://steamcommunity.com/sharedfiles/filedetails/?id=1849183875
https://steamcommunity.com/sharedfiles/filedetails/?id=1836900626
https://steamcommunity.com/sharedfiles/filedetails/?id=1823540489
https://steamcommunity.com/sharedfiles/filedetails/?id=1700683323

[2019-09-29 01:22] N7Huntsman commented on #39
Patch already exists, and is in the process of being integrated into CE. https://steamcommunity.com/sharedfiles/filedetails/?id=1739122102

[2019-09-29 01:27] N7Huntsman commented on #68
https://steamcommunity.com/sharedfiles/filedetails/?id=1824112352

[2019-09-29 01:46] LockdownX7 commented on #66
Likely a conflict with whichever mod is adding that Rules section. You're missing not only CE's loadout section, but also vanilla's food policies.

[2019-09-29 04:05] Necrikus commented on #63
I found the problem mod. It's the Trading Economy mod. Even after removing every mod but CE,  Trading Economy, and the mods that it requires I got the same errors. Not sure why that mod is causing issues when it's listed as being supported by CE.

[2019-09-29 04:06] #63 closed

[2019-09-29 05:00] N7Huntsman opened #69 "CE:FT ammo/armor/melee stat rebalance to 1.6+ standards"
Hey FT Team,

I'm just popping over from and looking to talk shop with someone regarding CE. There's a fairly major update to Combat Extended coming down the pipeline, and I wanted to discuss what all it is and how it will affect mod patches such as what you're working on. Please get in touch with me via Discord (N7Huntsman#4861), Steam, or the Ludeon Forums (N7Huntsman) when you have a few minute

[2019-09-29 05:47] rawrfisher opened #70 "Vanilla Expanded security patch request"
https://steamcommunity.com/sharedfiles/filedetails/?id=1845154007

That should be the link

[2019-09-29 07:24] kazenokizu opened #71 "RN Weapons - incorrect SMG calibers (B&T MP9 and PP-19 Bizon)"
The mp9 is in the wrong caliber and there are a few other weapons in the wrong caliber as well

[2019-09-29 07:27] kazenokizu commented on #71
capacity if wrong would also be more cooler to have in 9x18 than 9x19  if possible both Feed system:
64-round helical magazine (9×18mm Makarov), 53-round helical magazine (9×19mm Parabellum) (Bizon-2-01)

[2019-09-29 08:37] MarcoE12388 opened #72 "Mortars not working if ammo system is disabled"
when playing without ammunition often and willingly mortars do not fire, especially sieges, they are only people who camp

~~quando si gioca senza munizioni spesso e volentieri i mortai non sparano, soprattutto gli assedi, sono solo delle persone che si accampano~~

~~scusate sono svizzero ma parlo solo l'italiano bene~~

~~sorry I'm Swiss but I only speak Italian well~~

[2019-09-29 08:41] MarcoE12388 opened #73 "create the "run and reload gun" patch for the "run and gun""
~~mi spiace ma parlo italiano e i avvalgo di google traduttore~~

~~I'm sorry but I speak Italian and I use google translator~~

[2019-09-29 11:06] #64 closed

[2019-09-29 11:09] AthenaSulisMinerva commented on #68
Doesn't seem to be in the upstream CE repo yet, so I'll have to patch it when I have time.

[2019-09-29 11:11] Taranchuk commented on #70
Patch in development. If you want it now, but with bugs, here is the link: https://github.com/onigamii/VanillaFurnitureExpanded-SecurityCE

[2019-09-29 11:15] AthenaSulisMinerva commented on #39
sumghai gave me a copy of your Steam patch, and although I'm adopting most of the apparel and weapons values you've defined, I'll be handling pawn magazine count and crossbolt ammo differently.

Your current patch is also not compatible with a couple of new Ratkin features.

[2019-09-29 11:20] AthenaSulisMinerva commented on #69
@N7Huntsman, I don't use Discord, Steam or forums.

@sumghai and @Freedom187 do use them, but rather than having either of them play messenger and cause misunderstandings, I would appreciate it if we discuss things right here on GitHub instead.

[2019-09-29 11:29] AthenaSulisMinerva commented on #72
This is a problem with the original CE mold, and has already been reported in  NoImageAvailable/CombatExtended/issues/704

Also, the CE:FT is composed of English speakers, so please only post in English. We can't rely on inaccurate Google Translations.

[2019-09-29 11:29] #72 closed

[2019-09-29 11:37] AthenaSulisMinerva commented on #73
CE (and CE:FT) are already compatible with RunAndGun, and none of these mods have a "run and reload" feature of any kind.

Again, please only submit issues here in English. The CE:FT are all English speakers.

[2019-09-29 11:37] #73 closed

[2019-09-29 11:40] AthenaSulisMinerva commented on #66
As usual:

- Start a new savegame with only Core and CE:FT loaded
- Confirm that having only those two mods does not cause any errors
- Slowly add and test your other mods back in **one by one** until you encounter this exact error

The last mod you added should be the one that has compatibility issues. Please report back once you have finished.

[2019-09-29 14:12] Redonsku opened #77 "CE Mortar bug report"
https://gist.github.com/2f55ae1f41f64c194aea5c39c961d392
https://imgur.com/a/U8FJtLB

I don't know what is Mortar bug. It's getting damned much rag,,,

[2019-09-29 15:14] MarcoE12388 commented on #73
thank you very much, from now on I will write only in English but forgive me for any grammatical errors

[2019-09-29 15:45] rawrfisher commented on #70
Any imporvment is better then nothing lol

[2019-09-29 17:26] N7Huntsman commented on #69
As you like.

CE is pushing towards a 1.6 release in the immediate future--likely within the next week or two, based on what I've been told. Along with the introduction of some entirely new stuff (which, to my limited understanding of them, shouldn't directly impact patching mods), the armor penetration system is being reworked extensively. It's all written out in the Stat Sheets on the Combat Ext

[2019-09-29 19:10] OnlyException opened #78 "Are Existing CE patches compatible with FastTrack?"

[2019-09-29 19:29] OnlyException opened #79 "Androids mod"
base mod: https://steamcommunity.com/workshop/filedetails/?id=1541064015
current CE patch: https://steamcommunity.com/sharedfiles/filedetails/?id=1165553198&searchtext=android

[2019-09-30 10:12] AthenaSulisMinerva commented on #78
Literally the fourth bullet point in [the README](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/blob/master/README.md):

![Annotation 2019-09-30 180652](https://user-images.githubusercontent.com/49829079/65869465-1b659400-e3ad-11e9-941d-744a3532e564.png)

We tell players to post questions/issues to GitHub _precisely_ because Steam comments get flooded quickly, and often there are d

[2019-09-30 11:25] AthenaSulisMinerva commented on #69
We've definitely heard rumors about the 1.6 armor penetration changes, and I've seen the new Stat Sheets on Google Docs. Thanks for coming by to confirm the rough timeline of the upcoming changes.

I'm interested in coming to a consensus regarding overlap in compatibility patches, but a subset of these patches will not be able to go into CE proper, for various reasons.

The CE:FT team currently co

[2019-09-30 11:43] sumghai commented on #71
You're quite right - the Brugger & Thomet MP9 should be chambered in 9x19mm Parabellum.

I had specified the correct ammo in my stat spreadsheet, but for some reason the definition for .380 ACP got snuck in somehow.

Assuming you were meant to say "capacity _is_ wrong", I'll note that the real-life MP9 can in fact accept 30-round box magazine.

64-round helical magazine (9×18mm Makarov), 53-round

[2019-09-30 12:13] sumghai commented on #71
This is now fixed.

[2019-09-30 12:13] #71 closed

[2019-09-30 12:14] Redonsku commented on #77
I solved the problem. "Mortar Accuracy"

[2019-09-30 12:23] sumghai commented on #69
I'll switch my stat spreadsheets over to the new format once I have time.

At bare minimum, CE:FT and CE can work together on the stats spreadsheets for projectiles, melee weapons and animals/races.

As for ranged weapons, this is less critical since most firearms that CE:FT patches for aren't relevant to CE anyway (for instance, some really sci-fi mods with no real-world calibers).

Might be a go

[2019-09-30 12:34] Redonsku opened #80 "I think traders have many HE, Incendiary, EMP shells."
https://imgur.com/a/76nsdst

When exotic traders come, they have number of HE(red line) '274'. I think it's a lot of goods.
In vanilla case,  traders bring HE, incendiary, EMP shells number of roughly 80.

Could you set these amount like as vanilla?

[2019-09-30 12:49] AthenaSulisMinerva commented on #80
Is this problem unique to CE:FT, or can you also reproduce it in the original CE mod?

[2019-09-30 13:19] kazenokizu commented on #71
i did not say that the mp9 was the wrong capacity i was saying that the pp-19 bizon was based off the caliber and it is 9x18 makorov not 9x17   9x17 is 380 acp and is not the same thing

[2019-09-30 13:57] #77 closed

[2019-09-30 14:00] sumghai commented on #71
Your sentences lack punctuation, so I don't really understand what you're trying to say at all.

[2019-09-30 14:29] N7Huntsman commented on #69
Currently, all ammo, melee weapons, and animal melee attacks are in the process of being updated in the dev branch to the stats listed on the sheets. I'm working on the ammo types and hope to have everything PRed to the dev branch by the end of the day--melee weapons are updated, but other people are working on the animal melee, and my understanding is that it's pretty well in-hand. Some of them a

[2019-09-30 14:51] AthenaSulisMinerva commented on #69
I think it will be easier for us in the CE:FT if we simply wait until those stat rebalances (plus all the other bugfixes) in the CE dev branch get integrated back into the CE master branch. Then, we'll just make a PR and fix any conflicts/differences manually.

[2019-10-01 00:25] sumghai commented on #43
Closing due to lack of response

[2019-10-01 00:25] #43 closed

[2019-10-01 05:45] kazenokizu commented on #71
Ok lets try this one more time. The PP-19, has the wrong magazine capacity for the 9x19 cartridge.  So please fix it. to either be 9x18 64 rounds or 53 rounds for 9x19.
The MP9, is in the wrong caliber please make it 9x19.

[2019-10-01 05:46] kazenokizu commented on #71
好，讓我們再嘗試一次。 PP-19的9x19墨盒的紙匣容量錯誤。 因此，請修復它。 可以是9x18 64輪，也可以是53x 9x19。
MP9的口徑錯誤，請將其設為9x19。

[2019-10-01 05:47] kazenokizu commented on #71
Hǎo, ràng wǒmen zài chángshì yīcì. PP-19 de 9x19 mòhé de zhǐ xiá róngliàng cuòwù. Yīncǐ, qǐng xiūfù tā. Kěyǐ shì 9x18 64 lún, yě kěyǐ shì 53x 9x19.
MP9 de kǒujìng cuòwù, qǐng jiāng qí shè wèi 9x19.

[2019-10-01 08:28] sumghai commented on #71
Oh, so your native language is Mandarin.

As per commit b575bc5, I've already fixed the patches as follows:
* The PP-19 is now chambered in 9x18mm Makarov cartridges, and it already has the correct magazine capacity of 64 rounds
* CE and CE:FT do not support mixing of different calibers and magazine sizes, so I cannot add a 53-round 9x19mm variant
* The B&T MP9 is now chambered in 9x19mm Parabellu

[2019-10-01 12:26] Taranchuk commented on #22
Someone makes a patch for CE: https://steamcommunity.com/sharedfiles/filedetails/?id=1877495405&searchtext=

[2019-10-01 19:24] N7Huntsman commented on #69
If that's what you prefer, though I'd be aware that I expect they'll be pushed to Master branch only on the day of release, and that may put FT behind the curve in terms to the functionality of their patches.

At any rate, some of the bigger ticket changes that I know will directly impact patching:
- Entirely new AP system for both ranged and melee attacks; Stats Sheets have everything laid out to

[2019-10-02 00:28] AthenaSulisMinerva commented on #69
I'm sure the CE:FT team will be fine with that.

Speaking of these changes, how badly would they affect existing 1.5-era savegames? Many of us do have long-running saves that we would like to continue playing.

[2019-10-02 05:36] N7Huntsman commented on #69
From what I've been told, the update itself won't necessitate a new save, so my guess would be the dictating factor will probably be just making sure all the compatibility patches you're using are up to date.

[2019-10-02 08:35] sumghai commented on #69
I concur with Athena.

It shouldn't be hard for us to bring the remaining exotic ammo and projectiles up-to-date, and a couple of weeks' delay is a small price to pay for staying in sync with a major CE update.

[2019-10-02 09:28] LockdownX7 commented on #69
Regarding save compatibility, there will be a few console errors thrown when CE 1.6 is loaded into a 1.5 save. The game should gracefully recover from these for the most part, with no action needed by the player.

One exception applies for those using CE Guns, regarding loadouts containing the P7 or KRISS Vector, as those weapons were removed. These loadouts can no longer be edited, so they must b

[2019-10-02 19:02] wesley309 opened #81 "Selectable Turret Target mod"
i remember this mod seems can use at old ce version(or not ):
https://steamcommunity.com/sharedfiles/filedetails/?id=869110833&searchtext=turret

![image](https://user-images.githubusercontent.com/51426545/66073574-dc406a00-e589-11e9-9d28-6e6385ca6a0d.png)

![image](https://user-images.githubusercontent.com/51426545/66073587-e7939580-e589-11e9-9c92-1ed86642a209.png)

really think that sometimes tu

[2019-10-03 03:51] Redonsku commented on #80
I did test about that, Original CE also has this issue. An exotic trader caravan bring 242 extinguisher shells.

[2019-10-03 06:49] AthenaSulisMinerva commented on #69
Thanks guys.

Looking forward to bringing in the final changes when the time comes.

[2019-10-03 07:46] AthenaSulisMinerva commented on #80
In that case, you should raise this issue in the original CE repo, as CE:FT simply builds on the original CE by adding additional ammo and weapons patches. We don't fix core CE bugs.

[2019-10-03 07:46] #80 closed

[2019-10-03 08:29] #39 closed

[2019-10-03 16:18] Hellcommander opened #82 "Support for newest version of Genetic Rim and its patches like Spidercamp Dog Pack - Genetic Rim Patch, GeneticRim Cosmic Horrors Patch and etc"
any plans to add support for genetic rim stuff (old patch is missing recent changes to genetic rim and has issues with weapon content like explosives apparently)

[2019-10-03 18:48] githubuser1256 opened #83 "Is there a way to automatically determine compatibility?"
I use about 50 mods; many of which are very important. The most important is CEFT. I have been careful to pick mods that are either strictly compatible with CEFT or that I don't _think_ have any incompatibilities.

That said, despite my care, I believe there are mods causing conflicts with CEFT (or between two other mods) in my list. Strange things happen in-game.

Is there a reasonably easy way t

[2019-10-04 01:38] Hellcommander opened #84 "Include the combat extended patch that is in dev repo for Better Infestations, Vanilla Apparel Expanded, and Vanilla Armour Expanded"
Can you please include the patch that is in the main branches dev repo for Better Infestations, Vanilla Apparel Expanded, and Vanilla Armour Expanded?

[2019-10-04 01:45] Hellcommander commented on #84
I'll close this issue since a similar request was asked before and answer was that you are waiting for it to move to the main branch.

[2019-10-04 01:45] #84 closed

[2019-10-04 11:48] AthenaSulisMinerva commented on #83
Quite simply:

* The README contains a list of mods whose compatibility patches are already bundled in CE:FT, and you can be reasonably confident that those mods won't have compatibility issues.

* Any mod that is not listed in the README should be used with extreme caution.

[2019-10-04 16:34] githubuser1256 commented on #83
I just found and ran [[TOOL] RimWorld Conflict Checker [Updated 11/29/18]](https://ludeon.com/forums/index.php?topic=25305.0) which has given me some useful information, but lists no conflicts with CEFT whatsoever and 110 other mods.

What is your general process to find conflicts? In order for you to find a conflict/compatibility, do you normally have to investigate the DLLs as well (as opposed t

[2019-10-04 16:44] Taranchuk commented on #83
As I usually do. If there is a mod that is not in the list of compatible mods in CE:FT description and it contains races, animals, weapons and armor, then I look for the word CombatExtended in the mod files. If there is no such word, then the patch was not made and the mod is not compatible with CE.

[2019-10-05 00:12] AthenaSulisMinerva commented on #83
As this question has been answered sufficiently, I'm wrapping up this discussion.

[2019-10-05 00:12] #83 closed

[2019-10-05 00:13] AthenaSulisMinerva commented on #82
Please split your request into separate issues.

[2019-10-05 00:13] #82 closed

[2019-10-05 00:15] AthenaSulisMinerva commented on #81
Are you experiencing this issue only in CE:FT v1.0.1.5-FT-004, or does it occur also with the original CE v1.0.1.5?

[2019-10-05 00:27] AthenaSulisMinerva commented on #67
In the future, I would prefer that you post each problem in a separate issue, as lumping them all together makes them extremely hard to deal with.

Those problems are on Rimcities' end, not CE:FT. The author misspelled Plasteel, and did not explicitly define the `stuff` used to make the armors to be spawned in the scenario.

Try starting a new temporary savegame with only Core, CE:FT and A Rimworl

[2019-10-05 06:19] wesley309 commented on #81
I test it found its seem like  occur both ce mod.
![image](https://user-images.githubusercontent.com/51426545/66250865-1a50b000-e77b-11e9-923f-9ad56cb98126.png)

[2019-10-05 10:51] AthenaSulisMinerva commented on #81
Since this issue also happens with the original CE, then it is the responsibility of the author of Selectable Turret Target to make his/her mod compatible with both CE and CE:FT.

In other words, not our problem.

[2019-10-05 10:51] #81 closed

[2019-10-05 14:47] wesley309 commented on #81
thx for the reply and check for the mod

[2019-10-05 15:12] RoronoaDroagon opened #85 "Definitely More Cannons"
Another Turret mod that would be awesome to be compadible to use with CE FastTrack.
A good amount of people are using it and it's a nice mod that makes the game a bit harder in the end game.

Keep up the good work and and like me others appreaciate the time and work you guy's put in to the patches and to make the mod and game better.

[2019-10-06 00:53] AthenaSulisMinerva commented on #39
Accidentally forgot to uncomment a line in the weapons patch file.

[2019-10-06 08:24] Sabersenpai opened #86 "Cannot craft ammo for Glitter Tech weapons"
How do we make ammo for rail guns? the ammo is in the Def for it but not set to a crafting table. the only way I can really get ammo for any 6mm, 8mm, 12mm sabot rounds is via the admin consol.

[2019-10-07 00:53] sumghai commented on #86
Oooh, right - I didn't make any of the Glitter Tech ammo craftable, since GT's author _Sam claimed that none of the GT weapons themselves are currently craftable by colonists, but I forgot that players do, in fact, salvage weapon drops from raiders.

Also, since I've genericized both the plasma and railgun ammo (so that other mods can use them), I really should make them craftable anyway.

[2019-10-07 03:58] sumghai commented on #86
@Sabersenpai, please test the following WIP version of CE:FT :

https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/archive/4566d3e0d295ad6832a38fd8824bcf1ce442be3d.zip

Both the railgun cartridges and plasma power cells should now be craftable from the Machining Table. Plasma power cells additionally requires players to unlocked the **Pulse charged munitions** research project.

I decid

[2019-10-07 06:26] Sabersenpai commented on #86
Thanks alot!

[2019-10-07 06:42] Sabersenpai commented on #86
Yes they do work now, I also like the price you used being a sabot having uranium and steel was a good move!

[2019-10-07 08:25] #86 closed

[2019-10-07 12:54] AthenaSulisMinerva commented on #38
@NMJohns, try the patches I just pushed to the repo and tell me if there are any problems.

[2019-10-07 13:05] AthenaSulisMinerva commented on #66
Closing due to no response.

[2019-10-07 13:05] #66 closed

[2019-10-09 02:55] Cooljoose opened #87 "Alpha Animals mod"
Any chance for an Alpha Animals FT patch? Apparently there's already a standard CE patch, but it seems to be pretty outdated and reporting errors. Thanks!

Base mod: https://steamcommunity.com/sharedfiles/filedetails/?id=1541721856
Old patch: https://steamcommunity.com/sharedfiles/filedetails/?id=1594649493

[2019-10-09 10:52] AthenaSulisMinerva commented on #87
We'll rewrite the patch ourselves as required.

[2019-10-09 12:40] sumghai commented on #30
@NMJohns - Just sit tight until I've refactored the patches. I will then ask you to test them.

[2019-10-12 14:33] NMJohns commented on #38
I would love to. How would I add this to the Steam version? If I dropped the patches folder into my mods folder would it work?

[2019-10-12 20:53] ChickenPluckers opened #88 "Rimmu-Nation: IWI Negev LMG & Type 97 Bullpup AR"
Hello all, forgot to mention this in the patch notes and was reported to not work with CE FT.

*wink* *wink* I heard Rimmu-Nation was a favourite of Athena and Sumghai (favourite source of headache)

Defname:
**RNGun_NegevLMG**

From Rimmu-Nation .xml file:
RangedIndustrial_LMG.xml

Cheers all

EDIT:
Also got complaints about this:
**RNGun_Type97AR**

See ya later, fair one, sorry innit

[2019-10-13 00:28] sumghai commented on #88
Righto, I'd better get crackin'.

[2019-10-13 00:41] sumghai commented on #88
Ah, I see what happened with the IWI Negev - it was patched for Elite Crew, but wasn't also included in RN Weapons patches. Easy peasy.

As for the Type 97 / QBZ-95, we haven't patched that yet. I'll get on that right away.

[2019-10-13 05:50] AthenaSulisMinerva commented on #38
Put the patches inside the **`[Steam Workshop Folder for CE:FT]\Patches\Megafauna\`** directory.

[2019-10-13 07:22] sumghai commented on #88
As per the item description in RN Weapons, the Type 97 / QBZ-95 has been patched to use 5.56x45mm NATO cartridges rather than the usual Chinese 5.8x42mm DBP10.

This is good to go for the next update.

[2019-10-13 07:22] #88 closed

[2019-10-13 11:29] Kubomius opened #89 "More Vanilla Turrets - incorrect or unlimited turret ranges"
I have a bug with More Vanilla turrets where the Gun complex, military grade turret (manned/unmanned) and precision turret gets unlimited range. I tested taking combat extended off the modlist and then it worked, so the problem is combat extended. Also the autocannon turret and uranium slug turret does not even show up as buildables (with godmode on).

[2019-10-13 11:45] Kubomius commented on #89
Also the Vulcan turrets does not have their minimum range. I also tested it with just combat extended and more vanilla turrets and the same issues where there.

[2019-10-13 12:52] Kubomius commented on #89
The range issue also seem to be on all of the Defensive Machine Gun Turret Pack turrets aswell

[2019-10-13 12:57] Kubomius commented on #89
And I also just noticed that the range shown when "planting" the turret is increased substantially as soon as the turret is constructed

[2019-10-13 13:26] sumghai commented on #89
Could you please start a separate issue for Defensive Machine Gun Turret Pack? Let's keep this discussion focused on problems with More Vanilla Turrets.

[2019-10-13 13:47] Kubomius opened #90 "Defensive Machine Gun Turret Pack - incorrect or unlimited turret ranges"
There's a unlimited range bug.

[2019-10-13 15:41] Caradog opened #91 "VGP Garden Fabrics"
Any chance of patching this mod into CE:FT? https://steamcommunity.com/sharedfiles/filedetails/?id=1185269798

The materials added seem to be unbalanced - Linen cloth in particular is giving bigger sharp bonuses than hyperweave

Total list of materials I've found added by the mod include hemp cloth, linen cloth and blended wool

[2019-10-14 10:53] AthenaSulisMinerva commented on #91
I'm not familiar with patching materials/stuffables for balance.

@sumghai? @Freedom187?

[2019-10-14 10:55] AthenaSulisMinerva commented on #89
@sumghai - let's push this back for a later update, since we're pretty behind schedule already.

[2019-10-14 10:55] AthenaSulisMinerva commented on #90
@sumghai - let's push this back for a later update, since we're pretty behind schedule already.

[2019-10-14 12:00] sumghai commented on #91
Yeah, I'm not well-versed in patching materials either.

[2019-10-14 12:00] sumghai commented on #89
No worries, makes sense.

[2019-10-14 12:52] sumghai commented on #30
I'm currently making good progress integrating Saebbi's patches, but there are still quite a few things I need to do:

* **New ammo defs** - the original patches come pre-bundled with Android Tiers-unqiue ammo for the M7 Mech weapons, but I'd like to instead define some real-world high-caliber ammo that can also be used with other third-party mods:
  * 40MM Cannon could be based on the 40x365mm Bo

[2019-10-14 14:07] baddiePRO opened #92 "Soviet Armory"
base mod:
https://steamcommunity.com/workshop/browse/?appid=294100&searchtext=soviet+armory&childpublishedfileid=0&browsesort=textsearch&section=home

[2019-10-16 11:16] AthenaSulisMinerva commented on #38
@NMJohns, have you tested the patches yet?

[2019-10-18 13:10] NMJohns commented on #38
Will test today.

[2019-10-18 21:57] Zombielorf opened #93 "Cant Craft RPG's"
I have all the required research done and all the different crafting benches, but none of them can craft the RPG.

[2019-10-19 00:16] sumghai commented on #93
By default, CE and CE:FT will only allow crafting of RPG-7 ammo if you actually have a weapons mod that comes with a RPG-7 launcher (In fact, this is true for all CE ammo).

What other weapons mods are you running?

[2019-10-19 01:27] Zombielorf commented on #93
none )_)

[2019-10-19 02:30] HappyHead opened #94 "Optimization: CE Ammo"
Owlchemist has an optimization mod which removes the definitions of any CE ammo not in use.
Internal integration plz?
https://steamcommunity.com/sharedfiles/filedetails/?id=1721900020&searchtext=ce+ammo

[2019-10-19 02:45] HappyHead opened #95 "Sparkling worlds CE Patch"
CE Patch: https://steamcommunity.com/sharedfiles/filedetails/?id=1353373367&searchtext=sparkling+worlds
Mod: https://steamcommunity.com/sharedfiles/filedetails/?id=1123043922&searchtext=sparkling+worlds

[2019-10-19 07:04] sumghai commented on #93
In which case, you need to choose a mod that actually comes with a RPG-7 launcher, and only then will CE:FT allow you to craft RPG-7 ammo.

Any one of the following will do:

* [Rimmu-Nation Weapons](https://steamcommunity.com/sharedfiles/filedetails/?id=1608498683)
* [Rimfire](https://ludeon.com/forums/index.php?topic=9536.0)

* [CE Guns](https://github.com/NoImageAvailable/CombatExtendedGuns) -

[2019-10-19 07:04] #93 closed

[2019-10-19 07:11] sumghai commented on #94
I'm rather iffy about this optimization patch, to be honest.

The author, Owlchemist, notes that:

I feel that this runs counter to CE:FT's vision of concurrently supporting as many third-party weapons mods as possible.

Thoughts, @AthenaSulisMinerva and @Freedom187?

[2019-10-19 11:36] AthenaSulisMinerva commented on #94
@sumghai pretty much hit the nail on the head, so I'm against this as well.

[2019-10-20 01:40] sumghai opened #96 "Kenshi Hiver, Skeleton and Shek races"
@Freedom187 mentioned in a private Discord convo that he might be able to get patches for these three races in time for FT-005.

[2019-10-20 02:20] sumghai commented on #94
@Freedom187 / RaptorX has been having trouble logging on to the web browser version of GitHub, but he concurs with our sentiments:

![convo with RaptorX aka Freedom187](https://user-images.githubusercontent.com/4993380/67153836-20ba5c80-f323-11e9-9a49-053bc47f0f9e.png)

[2019-10-20 05:20] AthenaSulisMinerva commented on #94
Then it's decided - CE:FT won't integrate Optimization: CE Ammo.

[2019-10-20 05:21] #94 closed

[2019-10-20 05:54] sumghai commented on #30
I'm almost finished patching this mod, but there's a small problem.

After the micro-scythers spawned from the nanoswarm shell defeat their first target, the Debug log starts getting flooded with errors:

[code]

I have a feeling it's to do with the different behavioral logic behind the Micro-Scythers, but I can't quite figure out what it is.

[2019-10-20 06:03] sumghai commented on #30
I've sent @Freedom187 a message, to see if he has any ideas.

[2019-10-21 10:52] sumghai commented on #38
Hey @AthenaSulisMinerva, I've tested your Megafauna patches and they work just fine.

[2019-10-21 11:34] sumghai commented on #30
@Freedom187 suspects the problem has something to do with the micro-scyther's ThinkTree. He's investigating how other mods with similiar critters deal with this issue.

In the meantime, he asked me to do some more testing, and I reproduced the JobDriver bug under the following conditions:
* New savegame, mod load order: Core, JecsTools, Humanoid Alien Races, Android Tiers, CE:FT
* New savegame, mo

[2019-10-21 12:40] AthenaSulisMinerva commented on #38
Thanks @sumghai - that's good enough for me, so this is done.

[2019-10-21 12:41] #38 closed

[2019-10-21 12:43] AthenaSulisMinerva commented on #30
That's okay @sumghai - I'll trust your (and @Freedom187's) judgement on this one. Just let me know via Hangouts when you're done.

[2019-10-21 13:24] sumghai commented on #96
c255955f70224a624e5e5326e271604f0e752b2e is also associated with this issue.

@Freedom187 just informed me he's happy with these patches, so I'm going to wrap this one up.

[2019-10-21 13:25] #96 closed

[2019-10-22 04:24] toytanker opened #97 "TradingEconomy"
Only XML patch for this mod is Traders which is for [A17] Trading Economy Mod 1.4. and only impacts trade-related objects.

Trading Economy is on 3.1 but more impactfully to CE:FT is that there are 9 blaster/charge like weapons that are void of the standard Ammo, DamageDef, etc., XML patching.

Given you've already designed charged cartridges in Defs\Ammo\Advanced I hope it won't be too much effor

[2019-10-22 04:49] toytanker commented on #95
**CE:FT** does not directly patch this mod, and it doesn't appear [after testing Sparkling's ranged weapons] that **Sparkling Worlds - Full Mod** is impacted by **CE:FT**. Although **CE:FT**'s purpose is to dynamically change Rimworld to require ranged weapons to need ammo, at least **Sparkling Worlds - Full Mod** can be used alongside CE:FT and still function [no ammo requirement] unlike a mod li

[2019-10-22 14:11] IsaacXHB opened #98 "colonist don't get ammo"
I had already assigned the loadout that include ammo and weapon to them , the type of ammo is correct ,
i also tried to forced them to pickup the ammo .
BUT EVERY TIME !!!
they put those ammo back after they picked it up immediately...
I tried many times , they still put it back...
how can i solve it ?
[https://steamcommunity.com/app/294100/discussions/0/1609400247643227000/?tscn=1571752980](url)

[2019-10-22 14:17] AthenaSulisMinerva commented on #98
Does this happen with CE as well, or just CE:FT?

Start a new savegame with only Core and CE:FT, and see if you can still reproduce the problem.

If not, then add and test each of your other mods one at a time, to see when the problem occurs.

[2019-10-22 14:38] IsaacXHB commented on #98
ok , i will try this tough work...
I will reply when i finish

[2019-10-22 15:01] IsaacXHB commented on #98
ok , i just had a test with only CEFT
My colonist only can pickup the amount or more than that i set to the loadout ,
but i tested couple of times , it become normal , colonist won't drop ammo no matter how many i force him to pick up . But it seems colonist won't pick up ammo by himself although i had already set the loadout to him..
I just don't know why...

[2019-10-22 15:49] IsaacXHB commented on #98
ok , i find out the problem...
i'm so damn stupid..
the ammo in loadout is number of bullet
i though it was numbers of clip...
the colonist will drop all the ammo if the numbers of they pick up ...
nothing running wrong i think , i just Get it wrong...XDD
thanks

[2019-10-22 15:49] #98 closed

[2019-10-22 15:53] HappyHead commented on #95
well gee, that's interesting. So the CE patch provided by the author directly modifies his mod in a way CE:FT can't without going out of its way to code specifically for this mod?

[2019-10-22 22:03] HappyHead opened #99 "RimOverhaul/MoreEvents CE Patch"
CE Patch:
https://steamcommunity.com/sharedfiles/filedetails/?id=1760755314

Mod:
https://steamcommunity.com/sharedfiles/filedetails/?id=1760022158

[2019-10-22 22:14] Axlkss opened #100 "Combat Effects for Combat Extended"
CE Parch:https://steamcommunity.com/sharedfiles/filedetails/?id=1756442393&searchtext=Combat+extendet+

[2019-10-22 22:20] Axlkss opened #101 "Combat Extended Patches"
Simplified CE Ammo:https://steamcommunity.com/sharedfiles/filedetails/?id=1721900229
Optimization: CE Ammo:https://steamcommunity.com/sharedfiles/filedetails/?id=1721900020
Generic CE Ammo:https://steamcommunity.com/sharedfiles/filedetails/?id=1722042312

[2019-10-22 23:02] sumghai commented on #101
As per #94, the CE:FT team has decided that these "optimizations" go against the spirit of CE:FT providing integrated support for a wider range of mods, and so we will never integrate these patches.

[2019-10-22 23:03] #101 closed

[2019-10-22 23:12] sumghai commented on #100
This does look amazing, but I think visual enhancements like these should be an optional rather than standard feature (and no, we can't simply include these and add a "toggle" to turn it on/off).

@AthenaSulisMinerva?

[2019-10-23 11:15] AthenaSulisMinerva commented on #100
I actually run this mod myself, and really like the effects.

However, @sumghai is right in saying that this shouldn't be a core part of CE:FT, so we're not going to integrate this.

[2019-10-23 11:15] #100 closed

[2019-10-23 13:49] b5906192 opened #102 "[Ods] SCP mod"
this link
https://steamcommunity.com/sharedfiles/filedetails/?id=1703478386&searchtext=SCP

[2019-10-23 20:56] Axlkss commented on #101
I do not understand about * the spirit * of the CE: FT, since there are people who prefer to play this mod with optimization mods, at least the mod to optimize the ammunition, it is a headache the ammunition of each weapon...

[2019-10-23 21:00] Axlkss commented on #102
I do not understand about * the spirit * of the CE: FT, since there are people who prefer to play this mod with optimization mods, at least the mod to optimize the ammunition, it is a headache the ammunition of each weapon...

I like CE: FT ... But I won't be with 81 types of ammunition in my base ...

[2019-10-23 22:35] HappyHead commented on #101
You may be better off convincing the author of this mod to work in a version which simplifies all ammo types addressed by CE:FT
https://steamcommunity.com/sharedfiles/filedetails/?id=1892397131&searchtext=ammunition

The way CE works, weapon damage is calculated based on the ammunition used, not the gun doing the firing. To make things compatible with mods which make new weapons, new ammos need to

[2019-10-24 20:13] Axlkss opened #103 "Wall Mounted Turrets"
Link:https://steamcommunity.com/sharedfiles/filedetails/?id=1812077718&searchtext=

[2019-10-25 11:23] sumghai commented on #30
I got in touch with Android Tiers' author Atlas via Discord - he's having a little trouble with Steam lately, but will look into the micro-scyther issue as soon as he can.

In the meantime, I'm disabling the nanoswarm shells for now - we can always re-enabled it once the original mod has been fixed.

Otherwise, we're good to go on this one, @AthenaSulisMinerva.

[2019-10-25 11:24] #30 closed

[2019-10-28 07:05] Sevrun opened #104 "Shotgun ranges"
Don't know if this is the right venue, but I'll jump straight in, they're ridiculously short.  Pistols are generally accepted to reach to about 20-30 meters.  Even short barreled tactical shotguns have a range of roughly 35-50 meters and retain moderate effectiveness.  Hunting shotguns?  70+ meters.

Shotguns being handed the same ranges as a pistol (12) makes a weapon of already limited use fairl

[2019-10-28 11:07] AthenaSulisMinerva commented on #104
Unfortunately, this issue is something you'll have to raise with the original Combat Extended mod team, as they established the standardized calculation spreadsheets that CE:FT uses when patching and balancing weapons.

CE:FT adds extra ammo definitions and support for more mods, but otherwise tries not to stray too far from the original CE's gameplay mechanics and balance.

[2019-10-28 11:08] #104 closed

[2019-10-28 18:32] Magichp opened #105 "Arachne Race CE patch"
Base mod :

https://steamcommunity.com/sharedfiles/filedetails/?id=1589454687

CE patch:

https://steamcommunity.com/sharedfiles/filedetails/?id=1901128577

As I mentionned in the workshop description, this is my first CE patch, please do point any issues so I can try to solve it ;)

[2019-10-28 20:40] shivachirr opened #106 "Sidearms and out of ammo issue"
1. im wondering if this is compatible with sidearms or dose the same issues from the original combat extend still persist or that is has been fixed and never noticed

2. ive noticed in a prolonged gun fight when my colonist or well droids run out of ammo the move the gun to there inventory, and when they grab ammo they never pull it back out into their equipped slot. this is despotically annoying

[2019-10-28 21:10] Sevrun commented on #104
I'll go rattle their cages then, but actually digging through the defs to your Rimunation patch has shotgun ranges...  well, shotgunned from 11 all the way to 20.  Snagged a copy to adjust for personal use, no biggie.  Haven't dug though the other patches to 3rd party content yet.

Is there any place I could get a look at these spreadsheets?

[2019-10-29 11:26] AthenaSulisMinerva commented on #105
When we get around to adding this, we'll help reformat and rebalance the patches for you if necessary.

[2019-10-29 11:30] AthenaSulisMinerva commented on #104
https://github.com/NoImageAvailable/CombatExtended/wiki/Stat-&-Balance-sheets

CE:FT has its own private copy, which uses the exact same formulas. We'll make our version of the spreadsheet publicly available once CE:FT has fully transitioned over to CE 1.6's revamped projectile and armor system.

[2019-10-29 11:34] AthenaSulisMinerva commented on #106
You should ask this question to the original Combat Extended mod team. CE:FT simply forks the existing CE codebase by adding more compatibility patches, not making fundamental codebase changes or bugfixes.

Again, this is standard CE behaviour, which you will need to ask the original CE team about.

In the future, please only post one question per issue, as multiple questions per issue makes it ha

[2019-10-29 11:34] #106 closed

[2019-10-29 15:03] sumghai commented on #69
I took a closer look at the current official CE Projectile Stats spreadsheet, and found that it was missing a lot of ammo definitions from stock CE. Conversely, I couldn't see the calculations for some of the newly-patched ammo in the CE 1.6 dev branch.

Therefore, I've made a copy of the spreadsheet, populated with all the ammo from both CE 1.6 dev branch and CE:FT, in the hopes that we can conso

[2019-10-29 16:45] Magichp commented on #105
Thanks, I'm waiting for some feedback from users and the update to the main Combat Extended branch, I'll update accordingly and make a first balance pass then. After that, I'll probably leave it to you ;)

[2019-10-30 04:09] sumghai commented on #48
Unfortinately, we're pausing work on patches while we prioritize coordinating with the original CE team on integrating CE 1.6's armor and projectile revamp.

Sorry!

[2019-10-30 11:20] AthenaSulisMinerva commented on #69
Sure, sign me up. You have my email.

[2019-10-31 00:25] oscar370 opened #107 "Expanded Rims mod"
The nanotech weapons and the weapons used by the watchers do not work, they just keep pointing, but they never fire and only generate many errors in the console.

[2019-10-31 12:43] sumghai commented on #107
Glitter Tech does not have any "nanotech" weapons, nor does it have a faction or pawntype called "watchers".

Perhaps you have confused Glitter Tech with a different mod?

[2019-10-31 20:25] frootyninja opened #108 "Medieval Times + Combat Extended Compatibility patch"
https://steamcommunity.com/sharedfiles/filedetails/?id=975316762

Could this be added?

[2019-11-01 02:11] oscar370 commented on #107
Oh, it's true, I'm sorry, I was wrong. Although I could make a patch for Expand Rims which is the mod with which there is an incompatibility or if there is already a patch, you could inform me.

[2019-11-01 11:24] sumghai commented on #108
When we (eventually) have time.

Right now we are busy with the transition to CE 1.6's code base and changes.

[2019-11-01 11:34] sumghai commented on #107
Right, so it's the Expanded Rims mod.

I took a quick look at it, and my main concern is that ER's "modulable" weapons system might not be easy to patch for CE, especially as its weapon-switching behaviour is probably incompatible with the ammo/firemode model that CE uses.

We might look into this someday, but I'm afraid this will likely be _extremely_ low on our current list of priorities.

[2019-11-01 19:54] oscar370 commented on #107
No problem. Thanks for answering!

[2019-11-01 19:54] #107 closed

[2019-11-02 04:12] Magichp commented on #105
Updated to CE 1.6 and rebalanced a bit.
The patch for 1.5 that is working with the current FastTrack is still available if anyone need it.

https://steamcommunity.com/sharedfiles/filedetails/?id=1904384309

[2019-11-02 09:06] AthenaSulisMinerva commented on #69
@sumghai - I know you've added myself and @Freedom187 to the projectile rebalance collab spreadsheet, but did you hear back from any of the CE team?

[2019-11-02 10:48] sumghai commented on #69
Nothing from them at the moment, no.

By the way, I saw that you've brought over the commits from CE 1.6, and I had a play around with them. Other than some of our ammo no longer doing as much damage (which was expected), I haven't seen any errors.

Also, I think the reason the CE team haven't re-balanced all ammo types is because they (justifiably) would only focus on the ammo types that directly

[2019-11-02 13:49] sumghai commented on #105
@AthenaSulisMinerva - This went through over on the upstream CE repo, so I've merged it into ours as well.

You still want to check it yourself before closing this issue, right?

[2019-11-02 14:02] sumghai commented on #69
@dchieh222, my understanding is that you've done some work with ammo stat updates. Would be interested in helping to fill in the rest of the joint CE / CE:FT spreadsheet?

[2019-11-02 14:11] dchieh222 commented on #69
Hello Robin,

I'm not aware of this joint spreadsheet and I work closely with
NoImageAvailable.  Could you let me know what is it?

Sincerely,
DChieh

On Sat, Nov 2, 2019 at 9:02 AM Robin Chang <notifications@github.com> wrote:

[2019-11-02 15:49] PentalimbedPuss opened #112 "Ammo Disappeared"
All ammo disappeared excepted mechanoid ammos and 5.56x45 variations. Toggling ammo options in config shows in GUI:

Exception from long event: System.NullReferenceException: Object reference not set to an instance of an object
  at CombatExtended.AmmoInjector.InjectAmmos () [0x00000] in <filename unknown>:0
  at CombatExtended.AmmoInjector.Inject () [0x00000] in <filename unknown>:0
  at Verse.Lo

[2019-11-03 00:45] sumghai commented on #112
Unfortunately, since you've indicated that CE:FT on its own has no issues, a binary search is the only way you'll find out which mod is conflicting with CE:FT.

Could you please get back to us once you've identified which mod is causing the issue?

[2019-11-03 00:57] sumghai commented on #69
Hi DChieh,

Apologies for inviting you out of the blue - @N7Huntsman mentioned you earlier in the thread as someone who had experience with the new projectile stat balances.

Here's the link to the spreadsheet:

https://docs.google.com/spreadsheets/d/1-y3KCuTM_vJnxw-gQPl5KIiz7ySd7fw9P6Wx4zB5bZg/edit?usp=sharing

The structure is identical to the original CE projectile stat spreadsheet, except that

[2019-11-03 01:50] N7Huntsman commented on #69
You can give me edit access as well. I'm currently busy reviewing CE's integrated patches, but if nothing else, I can mark off the ones that have already been patched by CE.

[2019-11-03 01:56] sumghai commented on #69
@N7Huntsman - In order to grant you edit access, I'll need your email address. To protect your privacy, send me a message on Discord and I'll sort you out.

I've just started marking off the patched ones myself, but having an extra pair of eyes to catch anything I've missed wouldn't hurt.

I've also noticed many of the "patched" rifle and pistol bullets actually have values of 0 for `armorPenetrat

[2019-11-03 02:22] N7Huntsman commented on #69
Not all of the ammo projectiles within the current CE release have had their stats patched to 1.6--while most all of the common ammunition (NATO, Soviet-bloc, typical civilian) have been patched, there are a lot of one-off sets that haven't been patched yet.

As I understand, `ammoPenetrationBase` is no longer the supported stat, and I don't know what exactly happens when you try to fire it in 1.6

[2019-11-03 02:39] sumghai commented on #69
Okay @N7Huntsman - you should have edit access now.

I've started looking up values for many of these one-off sets - cartridge dimensions are relatively easy to look for via SAAMI, while bullet and case mass tend to be harder.

For case mass, do we need to account for (i.e. subtract) propellant weight as well?

Which probably explains why the 40x53mm grenades I added to the original CE currently d

[2019-11-03 03:08] N7Huntsman commented on #69
The case mass should be the cartridge + propellant. It's part of the equation used to find the mass of the ammunition item.

[2019-11-03 03:40] sumghai commented on #69
Much appreciated. I've added a note to the corresponding cell to clarify this for the rest of the team.

[2019-11-03 10:21] lucianfallen opened #113 "Patch for [CP] DOOM (1.0)"
Please can you make a patch for this mod?

[2019-11-03 10:22] sumghai commented on #113
When we (eventually) have time.

Right now we are busy with the transition to CE 1.6's code base and changes.

[2019-11-04 00:42] Hellfire42 opened #114 "[Pratt] WWII Weapons Pack"
https://steamcommunity.com/sharedfiles/filedetails/?id=1894552878

[2019-11-05 11:32] sumghai commented on #112
Closing due to lack of response.

[2019-11-05 11:33] #112 closed

[2019-11-06 12:37] sumghai commented on #69
@LockdownX7, I've been looking at the official [CE Projectile stats spreadsheet](https://docs.google.com/spreadsheets/d/1xnculiiWbFeGnEncwAPJ-DI6EoxwB7Bpl_8KGtWhXbU/edit#gid=1198674278) and some of your commits to the base CE repo, when I noticed some discrepancies in the `armorPenetrationSharp` and `armorPenetrationBlunt` stats for HE ammo types.

For example, the spreadsheet row for 40x46mm HE G

[2019-11-06 17:55] LockdownX7 commented on #69
The spreadsheet is correct. Ignore the AP values from the commit you mentioned, as they're not even used. Explosives have their AP is derived as 10% of the before-armor damage that's applied to the target. Note that before-armor damage can vary due to falloff, based on distance from the explosion's center to its target(s), which in turn affects derived AP as well. In other words, all you need to s

[2019-11-06 22:45] sumghai commented on #69
Thanks for the clarification, @LockdownX7.

So if I see a value of "none", do I omit those tags entirely? Or do I need to explicitly set them to zero?

[2019-11-06 23:30] LockdownX7 commented on #69
Omitting is fine.

[2019-11-07 02:46] Theblessedwant commented on #69
I recently checked that the 1.6 update of CE added several patches for spartan Foundry, Vanilla expanded apparel and vanilla expanded armors, should the patches be merged with the upcoming FT version,?

[2019-11-07 03:36] sumghai commented on #69
Makes sense! I assumed as much when I was patching some of the CE:FT missiles with HEAT warheads.

They will be, yes - in fact, @AthenaSulisMinerva and I have already merged those patches from the upstream CE project into the master branch of CE:FT.

[2019-11-07 03:47] Theblessedwant commented on #69
I have another question regarding balance, I checked the 5.56 and 5.45 ammo rounds and despite both being very similar irl, 5.45 for some reason is vastly superior over 5.56. For example, their sabot variants have the same base damage yet 5.45 has 21 armor penetration and 556 only has 14, this means that 545 can readily penetrate power armor while 556 cant even dream of such......
Additionally, th

[2019-11-07 03:52] Theblessedwant commented on #69
Furthermore, when comparing 762x39 and 762x51, Once again, 762x39 has a higher penetration as compared to 762x51 despite 762x51 being a much bigger round as compared to 762x39.  Even for the Sabot, 762x39 SABOT rounds will always penetrate even good power armor. while 762x51 SABOT rounds will struggle against even normal power armor.

[2019-11-07 04:00] Freedom187 commented on #69
Sounds like something is wrong there, should be as you say. (also yay github unborked my account finnaly!)

[2019-11-07 11:01] AthenaSulisMinerva commented on #67
Closed as user did not respond.

[2019-11-07 11:01] #67 closed

[2019-11-07 12:14] sumghai commented on #69
@Freedom187 - Welcome back! You were sorely missed :)

@Theblessedwant - Thanks for bringing that to our attention - I'm currently still working through the different categories (as you can probably see by my color-coded rows in the spreadsheet), but I'll get to the rifle cartridges eventually.

Looking at the spreadsheet:
*  `armorPenetrationBlunt` correctly scales with bullet mass and muzzle vel

[2019-11-07 14:20] LockdownX7 commented on #69
Whenever possible, Sharp AP should be based on real world RHA penetration at 100 meters, gel data is just a fallback.

In light of this discussion, the CE team has reviewed the stats for the mentioned calibers, and increased sharp penetration for 5.56x45mm NATO. Current balance puts it at slightly more damage than the 5.45, in exchange for slightly less AP. The same relation applies to the 7.62 ca

[2019-11-08 03:06] Obzedat opened #120 "Rocket Launcher Not Successfully Constructing"
The basic Rocket Launcher from the machining bench is not creating an unfinished project upon starting. The pawn will gather all the materials and deliver them to the table and a yellow bar will appear, but the materials remain on the table and when the job is complete nothing is created and the pawn hauls the materials back to their storage locations before starting it all over again. The triple

[2019-11-08 04:19] sumghai commented on #120
Does this happen only in CE:FT, or do you also experience this issue in the newest update to the original CE mod?

[2019-11-08 13:22] AthenaSulisMinerva commented on #69
Keep up the good work, @sumghai - thanks for holding the fort while I deal with family issues this weekend.

[2019-11-08 17:46] sumghai commented on #105
Closing as this has been included in FT-006.

[2019-11-08 17:46] #105 closed

[2019-11-08 19:50] HappyHead commented on #99
The author keeps updating this mod and adding new features. Integration may be untenable at this time.

[2019-11-08 22:26] sumghai commented on #99
Thanks for the heads-up - we'll keep this issue open in the meantime.

[2019-11-08 23:29] Styrkyr opened #124 "Issue with 7.62 NATO ammo and with new/stacking headgear"
Throws up a heap of errors and throws a purple box around characters heads that have multiple headgear pieces equipped. Logs included

https://gist.github.com/3ae137b6c296561a7168c51ea187b60d

[2019-11-09 04:18] Theblessedwant opened #125 "RImmu-Nation Helmet and Vest RHA Values"
Hi there fast track team! I noticed that rimmunation RHA values were very off with old sharp/RHA protection values. Ive made a temporary fix on steam if you are interested. It only adjusts the material effect multiplier and base sharp and blunt armor ratings. It supports most factions added.
Its not an extensive fix and just makes some vests and helmets slightly better and worse than composite hel

[2019-11-09 04:23] Theblessedwant commented on #125
I have further made a temporary patch for the factions here, ill upload it onto steam once done
![9d34fa29725c0b76c80d95ecd0754d4c](https://user-images.githubusercontent.com/57470753/68522867-b2e2ce80-02eb-11ea-83df-893a52ea1455.png)

[2019-11-09 07:54] sumghai commented on #125
Looks neat!

Could you do this as a Github pull request instead? It'll be easier for us to review changes and merge them into the repo (whereas with Steam, we'd have to subscribe, extract the files, unsubscribe and do lots of doohickey whatsits to integrate them into the existing patches).

[2019-11-09 07:58] sumghai commented on #124
We generally recommend that you post one question per issue, as it makes it easier for us to tackle them separately.

Usually, our advice to new users who encounter errors is to do some troubleshooting on their own first, rather than sending us a log file and be done with it.

Is this happening to an existing savegame, or to a new game?

Can you try the following?:
- Core and original CE only (not

[2019-11-09 08:40] Theblessedwant opened #127 "Purple boxes when Rimmu-Nation is installed"
As the title above states, after CE 1.6, it seems that when rimmunation is installed, all vanilla hats and even hats added in from VAE causes purple boxes on the pawns. My guess is the new layer system is conflicting with someone else Rimmu-Nation has added as once rimmu-nation is removed, the textures on pawns display as normal.
Rimmunation textures such as helmets and molle harness display norma

[2019-11-09 08:48] Theblessedwant commented on #127
This code seems to be causing the issue,
![156a3577644af5484e39aeb801f433b0](https://user-images.githubusercontent.com/57470753/68525794-41694700-0310-11ea-9972-5f70a0a656a3.png)
![e396b0585a222fbe7f7653b226a4ba4b](https://user-images.githubusercontent.com/57470753/68525828-b2a8fa00-0310-11ea-8d4d-34c8fbf7ef8e.png)

[2019-11-09 08:58] sumghai commented on #127
Ooh, interesting detective work! So we've narrowed down the cause to at least one of the Rimmu-Nation mods.

Would removing that Python script file help mitigate the issue? Or would you still see pink squares?

[2019-11-09 09:18] Theblessedwant commented on #127
No it doesnt, it may be part of the harmony script
![83f9e0f4583214aa41560241b5a85125](https://user-images.githubusercontent.com/57470753/68526267-e8e87880-0314-11ea-84ab-3189df67f15f.png)

[2019-11-09 09:18] Theblessedwant commented on #127
Either that or there are other mods with that specific dll that is causing this issue

[2019-11-09 09:26] Theblessedwant commented on #127
I have narrowed down the issue to this specific dll
By removing it from all red horse mods, factions included ive managed to remove the issue caused rimmu-nation. Seeing as this is a dll issue, it would require chickenplucker to remove said dll or CE FT rewriting some part of the clothing layer system.
![8022d8e1f2e170df1acc74b9a40451de](https://user-images.githubusercontent.com/57470753/68526374-

[2019-11-09 09:29] Theblessedwant commented on #125
oh im not sure how to do that haha, pretty new to github

[2019-11-09 09:37] sumghai commented on #125
After seeing your recently attempt at forking on GitHub, I think I'll manually go through your Steam version instead.

Please let us know when you've finished, and I'll get to it as soon as I can.

[2019-11-09 09:40] sumghai commented on #127
Right, this is because CE / CE:FT 1.6 includes new apparel layers - NiA had to also rewrite his own Don't Shave Your Head! mod to account for the same changes.

Since Chicken Plucker's forte isn't in coding, getting him to write a CE specific version of  the GraphicApparelDetour assembly is a bit too much for him (or whoever he's contracted to do the coding).

To be honest, I've never understood w

[2019-11-09 09:41] Theblessedwant commented on #127
Removing said DLLs seem to have no effect on the mod what so ever, so my recommendation would be to just remove said dll, if you would like i can decompile said dll to see what is causing the issue. I suspect that both chickenplucker's DLL and CE 1.6's DLL are calling the same class which causes the weird texture issues.

[2019-11-09 10:00] sumghai commented on #127
That would be greatly appreciated!

I'll tag this issue with the `third-party mod issue` label for documentation purposes, but otherwise we'll keep it open until it is fully resolved.

[2019-11-09 13:11] sumghai commented on #125
@Theblessedwant I managed to get hold of that zip file you accidentally uploaded to the upstream repo.

Are you happy for me to start integrating these helmet and vest RHA values into CE:FT? Or do you need to tweak them a little more?

[2019-11-09 15:01] Theblessedwant opened #128 "CE 1.6 and issues with mods that edit faces"
So after further digging, and as much as the CE Teams claim of increases compatibility with the new armor and layer system. I can safely say that any mod that edits the looks, of the face such as the Show hair past helmet mod, and the facial animations mod, no longer work with CE. Since CE uses a completely new pawn face class in their code according to a modder, this is just creating huge headach

[2019-11-09 15:14] sumghai commented on #128
Yeah, this isn't really ideal. However, where possible, CE:FT will avoid deviating from CE in terms of fundamental gameplay mechanics and systems, so I'm afraid there's not much I can do about this. :/

[2019-11-09 19:08] BUTTERSKY11 opened #129 "You broke all headgear shit for certain mods"
All vanilla hats and modded hat are fricking broken with certain mods and are replaced with PURPLE SQUARES, when you are done with 1.6 please fix this issue.

Update: Only a couple of mods have this issue due to their cothing systems.

**Yes Yes Mods List (mods that don't shit on game):**
Vanilla Armor Expanded
Vanilla Armor Expanded
Spartan Foundary

**No No Mods List (mods that shit on game):**

[2019-11-09 20:29] BUTTERSKY11 commented on #129
also, way too many people also have this issue in the steam comments section but I know you don't read that just like how they don't read to post issues here

[2019-11-09 22:41] Hallanvaara opened #130 "Vanilla Headgear and purple squares"
Purple squares on pawns wearing vanilla headgear, apparently(?) game cant find textures. Modded headgear works for me. Forcing pawns drop headgear makes squares go away.

Happens on new and old saves. Tested on both CE and CE:FT. I dont think other mods can be responsible since headgear is vanilla and modded gear worked.

[2019-11-09 22:51] BUTTERSKY11 commented on #130
Check my issue point it might have the answer

[2019-11-09 23:54] Hallanvaara commented on #130
Yeah, spend last 2 hours removing and adding mods and yes it seems best "fix" right now is to remove all mods that add gear. After removing 2 mods that add one set of armor in game. Purple squares disappeared.

Also noticed that even though squares disappeared the mod that adds visible hair even when wearing helmets etc. doesn't work anymore.

My personal fix is downloading older version of CE:FT

[2019-11-10 00:19] Hallanvaara commented on #127
Can confirm. Removing this file from mods that add gear will remove purple boxes.

[2019-11-10 00:47] BUTTERSKY11 commented on #130
What version of Combat extended fast track is the functioning onee

[2019-11-10 00:48] Theblessedwant commented on #130
a quick fix would be to remove the file as stated in my rimmu-nation fix. The dll also plays with head layers and conflicts with CE for some reason.

[2019-11-10 00:49] Theblessedwant commented on #125
im fine with the values as is

[2019-11-10 00:49] Theblessedwant commented on #125
you may edit them as you wish

[2019-11-10 00:51] BUTTERSKY11 commented on #130
I would much rather have the older version where I can use prisoner's outfits and RPG Inventory

[2019-11-10 00:52] Theblessedwant commented on #129
Calm down, this is an issue with the original CE as well due to the new layering system. The Dll used previously by these mods utilized its own layer system, the north, south ,east ,west system as shown within my issue. A simple fix is to remove said dll and it will work again

[2019-11-10 00:56] BUTTERSKY11 commented on #129
Sorry, but I was sort of stress, it took so long to get my save to work again, hours and hours wasted on efforts that I thought were futile, I care way too much for my saves since I lost my saves before.

[2019-11-10 01:18] sumghai commented on #125
Okay, I'll get on this ASAP.

[2019-11-10 01:25] sumghai commented on #129
As frustrated as you may be, there is absolutely **no excuse** to take your anger out on other people, especially when these changes came from the upstream CE project, rather than any (perceived) malicious intent by the CE:FT team.

Seeing as there is a more cordial discussion of this issue in #130, I'm closing this ticket so that we can consolidate things there.

[2019-11-10 01:25] #129 closed

[2019-11-10 01:32] #128 closed

[2019-11-10 01:43] sumghai commented on #130
Duplicate of #129, partially related to #127.

Usually, we would close newer duplicate tickets in favor of the first reported one, but I shut down the original as the discussion became uncivil. We'll continue from here.

Basically, as @Theblessedwant has determined, due to changes in how the upstream CE mod renders head apparel layers and faces, pretty much every other third-party mod that also mo

[2019-11-10 02:04] BUTTERSKY11 opened #132 "As frustrated as you may be, there is absolutely **no excuse** to take your anger out on other people, especially when these changes came from the upstream CE project, rather than any (perceived) malicious intent by the CE:FT team."
As frustrated as you may be, there is absolutely **no excuse** to take your anger out on other people, especially when these changes came from the upstream CE project, rather than any (perceived) malicious intent by the CE:FT team.

Seeing as there is a more cordial discussion of this issue in #130, I'm closing this ticket so that we can consolidate things there.

_Originally posted by @sumghai in

[2019-11-10 02:07] BUTTERSKY11 commented on #132
I changed the conversation before to make sure it did not put hatred on one single person because I was told it might be an issue so I changed much of the wording sumghai if you look at the edits I was trying to make sure no one was hurt but I was just explaining at the time before the edits that I was scared mostly and that it was mostly going to be confused with anger

[2019-11-10 02:23] #132 closed

[2019-11-10 02:35] Theblessedwant commented on #125
I have noticed that if i applied realistic armor values to the Last Man Merc tanks, it appears to make them literally unkillable, the realistic value i choose was 120mm RHA value, based on wikipedia T-55 hull armor values. I thought the turret armor values were too high and therefore chose the hull.
Also noticed that 20x102mm NATO rounds and other cannon rounds have extremely low penetrations, fun

[2019-11-10 02:39] sumghai commented on #125
I see, thanks!

That would probably be because CE:FT first introduced the 20x102mm NATO rounds way back in v1.0.1.5-FT-004, and they haven't been updated (yet) to the new armor penetration system in 1.6.

[2019-11-10 02:42] Theblessedwant commented on #125
In regards to the balancing of the armors, i gave plate carriers slightly lower blunt protection as compared to other body armors like the IBA or russian 6b23, Plate carriers afterall are simply a ballistic plate in a pouch with some kevlar backing at times.

[2019-11-10 06:29] Mogelix commented on #42
When (if ever) you start working on this patch I'd love to provide some lore pointers to the munitions and all that!

[2019-11-10 08:57] sumghai commented on #125
Apologies for the delay, @Theblessedwant - I've finished integrating your patches into our existing ones.

Notes:
* I omitted the Kurin ones because we already brought some of the new stats over from upstream
* I also rewrote your contribution so that each item is patched independently, rather than grouped by similar stats; while admittedly less efficient than what you had, patching each item inde

[2019-11-10 08:57] #125 closed

[2019-11-10 10:05] Hallanvaara commented on #130
Yeah. One of those mods had that dll and by removing it squares disappeared. That mod hasn't been updated in a long time so I think I will try to learn how to make a patch for personally.

Still going to prefer older version of ce:ft because pawns without visible hair under headgear is IMHO ugly as f and makes pawns less individual. Too bad since I really liked how weapons looked after update and

[2019-11-10 10:17] sumghai commented on #130
@Hallanvaara - At the risk of veering off-topic, [Don't Shave Your Head!](https://github.com/NoImageAvailable/DontShaveYourHead/releases/) is compatible with CE 1.6, as it was also written by CE's NiA - he specifically updated it to work with the new layers.

[2019-11-10 10:21] Hallanvaara commented on #130
Cool, have to check it. Also is there somewhere quick quide to patching so I could make little patch to starship troopers armor mod? I was thinking just copying values from power armor and maybe little tweaking

[2019-11-10 10:51] sumghai commented on #130
For the time being, the [GitHub wiki for the original CE](https://github.com/NoImageAvailable/CombatExtended/wiki) contains useful guides on how to write patches. Eventually, the CE:FT will write its own wiki articles.

Now, let's get back on topic, shall we?

[2019-11-10 13:48] sumghai commented on #124
Related to #127 and #130.

[2019-11-10 13:48] #124 closed

[2019-11-10 15:11] PrincessUnikitty opened #133 "[NL] Facial Animation not working"
https://steamcommunity.com/sharedfiles/filedetails/?id=1635901197

Fix Plz

[2019-11-10 16:27] Styrkyr commented on #130
It's  too rough. I had to roll back to 1.5. As game changingly good as CE:FT is, I couldn't justify disabling all the mods I have installed that are conflicting with it. Will update once other mod authors have updated as well. On a side note, have you guys noticed how lethal smoke inhalation is? Almost lost my colony last night to a ZZZZZT fire just from the inhalation. Anyways, keep up the good w

[2019-11-11 00:13] Theblessedwant commented on #133
Facial animation messes with the face layers and uses jobs for facial animations. Im not sure if CE edits the jobs but know that it causes issues with anything that changes the face layers. As is the case with facial animation. Unfortunately this will require an entire rewrite of the assembly code for facial animations and there is not much the CE FT team can do.

[2019-11-11 00:31] sumghai commented on #133
When raising issues on Github, it is important that you describe the problem as clearly as possible and provide supporting information, which you have failed to do:

* To begin with, "Can't use this mod" is an extremely vague title; you should have clearly stated you were having problems specifically with the [NL] Facial Animation mod, instead of simply throwing a link and having others figure it

[2019-11-11 00:31] #133 closed

[2019-11-11 00:50] sumghai commented on #79
Patched in FT-007

[2019-11-11 00:50] #79 closed

[2019-11-11 02:14] TheEventHorizon commented on #14
Any possibility of this getting a patch?

[2019-11-11 10:29] AthenaSulisMinerva commented on #14
We're currently busy with the post-1.6 cleanup, updating existing ammo defs and patches to work with 1.6's new armor penetration system.

Also, these are a series of rather large race/faction packs, which were not easy to patch in back in CE 1.5, and certainly more difficult in 1.6 now that we have to account for the new systems too. In contrast, gun packs are quicker and easier to patch, so @sumg

[2019-11-11 12:32] Theblessedwant commented on #69
Well i'd like to add that 762x51 is still doing way less penetration that 7.62x39. In data 7.62x51 does 21mm RHA penetration while 7.62x39 does 25mm RHA penetration. This makes no sense, based on data provided on bullet drop offs, 792x39 loses way more energy than 762x51 and furthermore has lesser starting energy. If we assume both are the same weight for simplicity, 762x51 travels much faster as

[2019-11-11 21:21] Magichp opened #135 "Mechanoids Extraordinaire updated"
Corrected cross-refenrencing issues, updated stats for CE 1.6

http://www.mediafire.com/folder/j9lkwbgbtz9ao/MechanoidsExtraordinaire

[2019-11-11 22:58] Magichp commented on #127
I removed that dll from my local modlist (the only one containing it was prisonner outfit, which I removed entirely) but I still encounter those purple squares everywhere. Any other possible culprit?

[2019-11-11 23:20] sumghai commented on #135
Thanks! I'll manually merge this in tonight.

[2019-11-11 23:23] sumghai commented on #127
I believe there are other non-Rimmu Nation mods out there which may also be using this DLL.

If you are running Windows, browse to the RimWorld Mods folder in Explorer, and use the search bar to find all instances of this DLL. You can then delete them at your leisure.

[2019-11-12 00:11] Magichp commented on #127
That is exactly what I did ^^ And the only instance of the file was in Prisonner outfit, I removed the mod and unsuscribed from it but the issue is still present. There are no other GraphicApparelDetour.dll in my "Mods" folder (only using local copies of mods in order to debug).

[2019-11-12 03:35] sumghai commented on #127
In that case, you're going to have to conduct a binary search:

* Start by confirming that the purple box bug does not happen when you only have Core and CE:FT running
* Next, add half of all your other mods
* If the purple boxes do not appear, the problem is with the other half of your mod
* If the purple boxes **do** appear, then set aside half of your current set and test
* Repeat interactively

[2019-11-12 06:11] Theblessedwant commented on #127
If there is a DLL there is rerouting layers, that would likely be the issue. The issue is probably an apparel mod you have, could you list the apparel mods you may have?

[2019-11-12 06:16] Magichp commented on #127
I have a few races mods that add apparels but I don't think I have any "apparel only" mods. Ill try to hunt down the issue and report back.

[2019-11-12 10:54] sumghai commented on #135
For future reference, @Magichp, please put the files in a ZIP file next time, so that I can download them in one go - right now, you have them in Mediafire folders, and I had to download each file individually because only Premium accounts can download multiple files and folders.

[2019-11-12 11:04] sumghai commented on #135
This is now good to go.

[2019-11-12 11:04] #135 closed

[2019-11-13 04:23] Theblessedwant opened #137 "Rimefeller Heat Protection of Synthamide"
So i checked the heat protection of synthamide from Rimefeller and noticed there was no heat protection indicated on it within the patch. The sharp and blunt protections are fine, however the lack of heat protection being indicated in the patch results in the original heat protection being used which is set at 288% which when applied to parkas and jackets that have  a x10 material multiplier for h

[2019-11-13 11:40] sumghai commented on #137
Thanks for the heads-up - I've updated the patch accordingly :)

[2019-11-13 11:40] #137 closed

[2019-11-13 14:18] sumghai commented on #120
Closing as user never got back to us with troubleshooting results.

[2019-11-13 14:18] #120 closed

[2019-11-13 15:28] sumghai commented on #69
Hi @LockdownX7, I've noticed that in the latest version of the Gun Stats spreadsheet, the **Ingame Stats** sheet no longer has the `recoilPattern` column, and that it is now possible for a firearm to sometimes have a `recoilAmount` of None

* Does this mean that when I come across None values, I can simply omit that stat? (Just like what you mentioned for certain stats in the Projectiles spreadshe

[2019-11-13 16:40] LockdownX7 commented on #69
recoilAmount is the measure of accuracy loss for each shot fired in a single burst. Weapons that can only fire single-shot aren't affected by it, which is why the spreadsheest sets the stat to None.

You can omit the stat, it'll default to 0 as defined by the VerbPropertiesCE class.

[2019-11-14 03:42] Theblessedwant opened #139 "Rimmunation Parka, Jacket and trenchcoat values"
Hi there CE FT team, ive added Parkas and jackets to take into account the new effect multiplier added for Vanilla parkas and dusters. Ill add the factions here once im done with them

[Rimmunation Parkas.txt](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3844507/Rimmunation.Parkas.txt)

[2019-11-14 03:54] sumghai commented on #139
Much obliged as always! Looking forward to seeing the faction patches too.

[2019-11-14 03:56] EldarFarseer opened #140 "Glittertech weapons dont have penetration"
i use your mod with the glittertech mod but some of the weapons like MRG5 rifle has no amorpenetration their single ammunation

[2019-11-14 04:20] Theblessedwant commented on #127
Hi there CE FT team, ive attempted to decompile said dll and tried looking through the code. based on what i can gather, the main use of the code is to maintain a constant colour across certain clothing items. Based on the aforementioned errors, it seems that the dll is successfully injected which causes said error.  I suspect, since CE chaanges face rendering overhead etc, this line of code derps

[2019-11-14 04:26] Theblessedwant commented on #127
Im not a C# expert but what i think the code is doing is changing how the base overhead layer behaves. Since CE adds 3 different head layers now, any layer that doesnt utilize the overhead layer just derps out as this dll only recognizes one single headlayer.

[2019-11-14 04:28] Theblessedwant commented on #127
Im not sure if it will work but would it be possible to add the CE layers into this dll, it MAY cause issues that im not aware of.

[2019-11-14 04:29] sumghai commented on #140
This is because the original CE team updated the upstream CE mod to use a different armor penetration system, which means all ammo and projectiles need to be updated as well.

See #69 for the ongoing discussion as to rebalancing the projectiles.

[2019-11-14 04:34] sumghai commented on #127
I think that this is now primarily the responsibility of whoever originally wrote the GraphicApparelDetour assembly to update their code to be compatible with CE/CE:FT, so there really isn't much we can do.

@Theblessedwant, could you find out who is responsible for maintaining that assembly and direct them over to this ticket? Once we're sure they understand the context of the issue, we can close

[2019-11-14 04:38] Theblessedwant commented on #127
Ive tried to get in touch which chicken plucker but ive not had any luck so far

[2019-11-14 05:45] Theblessedwant commented on #127
Unfortunately, after getting into contact with chicken plucker on discord, he has disclosed that he has no wish to edit his mods for the sake of CE, this goes beyond simple xml edits and into the C# code. Further he has stated that he doesnt want a reuploaded CE compatible version on steam and i will respect that. So unfortunately, rimmu-nation will remain incompatible for the forseeable future

[2019-11-14 08:37] sumghai commented on #127
Reopening temporarily for a response.

My understanding is that Chicken Plucker himself did not write the assembly (given C# is outside his area of expertise), and that he instead outsourced the work to another modder.

One of the reasons CE:FT was established was to specifically support modders like Chicken Plucker, whose work cannot be patched by the upstream CE mod due to political reasons. @Fr

[2019-11-14 08:37] #127 closed

[2019-11-14 13:32] Theblessedwant opened #142 "startup issue both with synthamide and Ratkins"
![9ba0b88c119ffb650579a449026f5075](https://user-images.githubusercontent.com/57470753/68861279-348c8f00-0726-11ea-8eb7-2aa9aa494641.png)

[2019-11-14 13:52] sumghai commented on #142
I'll get on this as soon as I can.

[2019-11-14 14:08] Theblessedwant commented on #142
Disregard the syntahmide patch , its working, it issue lies within the ratkin  patch

[2019-11-14 14:21] sumghai commented on #142
Roger that - I just figured out that there was nothing wrong with the Rimefeller Synthamide patch on my end, either.

As for NewRatkinPlus, this is very bizarre, because I can't reproduce that error on my end, even after testing it with the latest Steam release of the original Ratkin mod.

I'm currently only running:
* Core
* Combat Extended (the display name for CE:FT)
* Humanoid Alien Races 2.0

[2019-11-14 14:23] Theblessedwant commented on #139
Id like to add that there is  a missing patch for  layers within the  Rimmu-Nation belts and Backpacks
Im not sure if this thingdef  works you  are free to  edit  as  you wish
[Rimmunation Accessories.txt](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3846936/Rimmunation.Accessories.txt)

[2019-11-14 14:26] sumghai commented on #139
Noted! This must be one of the new Webbing layers added by the upstream CE repo.

[2019-11-14 14:30] Theblessedwant commented on #139
oh uh also i accidentally replaced the  webbings with operation instead of  li,

[2019-11-14 14:31] Theblessedwant commented on #139
[RNC_CE_Patch_Apparel_Belts_corrected.txt](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3846967/RNC_CE_Patch_Apparel_Belts_corrected.txt)
Here is the corrected one i hope

[2019-11-14 14:33] sumghai commented on #139
I'm currently busy with another set of patches, but I'll talk to Athena and see if we can slot these changes for the release after the next one.

[2019-11-14 15:50] Theblessedwant opened #143 "DLL fix for detours within rimmunation and hopefully other similar pink boxes"
So with the help of a coder on discord, he has managed to detour...the  detour of rimmu-nation thus nulling  it in a sense, it basically just overwrites that specific dll with the vanilla code to allow CE to load proper. I have included the fix here with his permission.
[DontWearPinkSquares.zip](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3847334/DontWearPinkSquares.zip)
![

[2019-11-14 15:55] Theblessedwant commented on #143
All credit goes to Dyrewolf for helping me with  this issue

[2019-11-14 19:02] Haelmann opened #144 "Misc. TurretBase, Objects compatibility"
I don't know why, maybe because of new armor system, "micro-turret launcher system" weapon from this mod became absolutely IMBALANCED. It kills centipede with one shot.

[2019-11-14 23:28] TheDerpyPotato opened #145 "Glitter Tech mod - armor stat rebalance"
Looks to be broken, was working at some point
![rimtemp](https://user-images.githubusercontent.com/57368075/68904708-888a7a00-070c-11ea-8217-84acd2ff331b.png)

[2019-11-15 00:04] sumghai commented on #145
Could you please be more specific as to what is "broken"?

The recent update to the 1.6/1.7 codebase from the upstream CE mod changed the way armor and projectile penetration works, and so most mod patches will need to be updated at some point or another.

The only thing I can see from your screenshot is that the GlitterTech armor value needs to be tweaked, as CE now uses actual Rolled Homogeneous

[2019-11-15 00:06] TheDerpyPotato commented on #145
Well ya the armor values are so low, lower than they used to be. Looking at it there is the patch files currently in place but the values are too low like i said.

[2019-11-15 00:07] sumghai commented on #143
I'll take a closer look when I get off work tonight.

Is this something we have to package with CE:FT, or is it for third-party modders to include with their own mods?

[2019-11-15 00:08] TheDerpyPotato commented on #145
<?xml version="1.0" encoding="utf-8" ?>
<Patch>
	<Operation Class="PatchOperationFindMod">
		<mods>
			<li>Glitter Tech</li>
			<li>Glitter Tech (No Surgery)</li>
		</mods>
		<match Class="PatchOperationSequence">
			<operations>

				<li Class="PatchOperationAdd">
					<xpath>Defs/ThingDef[defName="Apparel_NanoSuit"]/statBases</xpath>
					<value>
						<Bulk>100</Bulk>
						<WornBulk>15</WornBu

[2019-11-15 00:10] sumghai commented on #145
I'll look into this when I have time.

[2019-11-15 00:11] TheDerpyPotato commented on #145
Thanks, i remember when i got fast track a few days ago but then after i restarted the game the patch broke.

[2019-11-15 00:11] sumghai commented on #142
@Theblessedwant - I still cannot reproduce this issue. Can you please try the mod order I mentioned, as well as making sure you have the most current Ratkin patches from CE:FT?

[2019-11-15 00:44] Theblessedwant commented on #143
It has to be loaded before* rimmu-nation is loaded, it basically detours any dll that is GraphicApparelDetour, back to the vanilla dll

[2019-11-15 00:45] Theblessedwant commented on #143
I'll test it by putting it into the FT version ive downloaded and see if i get any errors
will get back to you soon

[2019-11-15 00:50] Theblessedwant commented on #142
i think it was an issue with my load order, disregard this.

[2019-11-15 00:50] #142 closed

[2019-11-15 01:28] sumghai commented on #145
That was because the FastTrack version you first downloaded was based on CE 1.5, which uses the old armor values...

...and while you were restarting your game, Steam updated your copy of FastTrack automatically to the latest version based on CE 1.6/1.7, which of course would not 0lay nice with the original armor patch

[2019-11-15 02:46] Theblessedwant opened #146 "Alpha animals CE patch"
Greetings CE FT Team, once again due to my absolute inability to use github to  issue a pull request to a fork project I present to you, Alpha animals CE patch, it re balances all leathers as well as issue body types to the animals with alpha animals. I used the old alpha animals CE patch made by Saeebi and updated it to work with CE 1.6 as well as adjust leather protection values.
edit:Forgot to

[2019-11-15 02:59] TheDerpyPotato commented on #145
Oh so CE:FT only recently got updated to 1.6. That would explain it. The whole deal with 2 different teams kinda just causes confusion and problems. Why doesn't everyone just work on one branch since CE:FT is just CE but with more patches but the mainline comes out slower?

[2019-11-15 04:17] Theblessedwant commented on #146
[Duck's CE patch.zip](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3849758/Duck.s.CE.patch.zip)
Should be corrected

[2019-11-15 04:21] Dyrewulfe commented on #143
Hi, figured I'd chime in here, since I wrote that thing. I'd initially thought it was load order dependent(Apparently I goofed somewhere on that test), but it's not.

The gist of it, is it searches the list of loaded assemblies for that particularly detour DLL, and patches it's detour injection method with a Harmony detour. Simply including it in the Assemblies should suffice. Another option would

[2019-11-15 06:26] Dyrewulfe commented on #143
I did some investigation, and apparently this is an old detour made by Jecrell, and it's in quite a few mods. I'm going to tidy this up and PR it upstream.

[2019-11-15 11:13] AthenaSulisMinerva commented on #143
Hi @Theblessedwant and @Dyrewulfe, thanks for pitching in to help with this issue!

I am somewhat concerned about having an additional DLL in our assembly, especially as I'm not sure how we would integrate that source code into the main CE code we've pulled from upstream.

[2019-11-15 11:19] Dyrewulfe commented on #143
I've made the PR, and spoken with NIA. This fix should be available from upstream in the near future.

[2019-11-15 11:25] Dyrewulfe commented on #130
Referencing since this issue is pinned:
#143

[2019-11-15 11:37] AthenaSulisMinerva commented on #143
Ah, having it being accepted upstream works out perfectly for us.

@sumghai, thoughts?

[2019-11-15 11:48] AthenaSulisMinerva commented on #145
We established CE:FT as a response to what we felt (at the time) to be slower update cycles in CE and their reluctance to accept patch submissions. There were also some nasty political issues involving specific mod patches being rejected for non-technical reasons as well, but we'd rather not dwell on that too much.

The most recent CE updates have demonstrated that the upstream team has acknowledg

[2019-11-15 11:50] sumghai commented on #146
Noted with thanks! I'll see when I can fold these changes in.

[2019-11-15 11:50] sumghai commented on #130
Thanks @Dyrewulfe - let's consolidate discussions there then.

[2019-11-15 11:50] #130 closed

[2019-11-15 11:52] sumghai commented on #144
We'll look into this at some point, but don't hold your breath :)

[2019-11-15 12:05] #140 closed

[2019-11-15 12:30] sumghai commented on #145
Okay, I've updated the stats for both the nanosuits and the standard Orion Corp armor. These will get folded into our next FastTrack release.

[2019-11-15 12:31] #145 closed

[2019-11-15 14:49] Dyrewulfe commented on #143
#899

[2019-11-16 01:34] sumghai commented on #92
Done!

[2019-11-16 01:34] #92 closed

[2019-11-16 02:47] sumghai commented on #143
Since these changes are coming from upstream, no further action is required on our part.

[2019-11-16 02:47] #143 closed

[2019-11-16 03:14] Theblessedwant opened #147 "Rimmu-Nation Corrected Layers for backpacks"
So i'm not sure if this is a bug but the backpack part of the rimmunation  layers hasnt been corrected yet, it still lists the layer as torso when it should correctly be shoulds and under the backpack layers so it can be worn with a webbing.

[2019-11-16 03:15] Theblessedwant commented on #147
<value>
					<apparel>
						<bodyPartGroups>
							<li>Shoulders</li>
						</bodyPartGroups>
						      <layers>
        <li>Backpack</li>
			</layers>
	  </apparel>
					</value>

[2019-11-16 03:15] Theblessedwant commented on #147
this should be there instead of the torso layer

[2019-11-16 03:32] Theblessedwant commented on #147
![023e1c53f40dc45d67770424b1f20455](https://user-images.githubusercontent.com/57470753/68987410-c4d0ee00-0864-11ea-8bf4-d8f8195d71ed.png)

[2019-11-16 05:12] sumghai commented on #147
Yes, these need to be fixed. I'll add this to our to-do list.

[2019-11-16 06:05] sumghai commented on #89
Okay @Kubomius, I think I figured out the first part of your long* list of problems.

Basically, every turret has the following values:
* `range` - the actual range the turret gun will fire in
* `specialDisplayRadius` - a circle of a given radius drawn with the building at its center; as the name implies, it is for display purposes only

What has happened is that:
* Turret gun `range` values are h

[2019-11-16 06:20] sumghai commented on #90
Related to #89 - with the root cause and solution:

[2019-11-16 07:51] sumghai commented on #89
Another thing that I found:

CE will hard cap the display radius to less than 90 cells (≈1060 meters in real life), and anything above that simply won't get drawn.

Since CE generally specifies typical turret ranges of 800m (75 cells), this means I will actually have to nerf the range of some of these turrets, just so that I can draw the display radii.

[2019-11-16 07:53] sumghai commented on #90
This has now been fixed, and will be rolled in with the next update.

[2019-11-16 07:53] #90 closed

[2019-11-16 09:37] Theblessedwant commented on #147
I think the vests  need  to be corrected too*

[2019-11-16 10:24] sumghai commented on #89
Fixed and ready to be rolled into the next release.

[2019-11-16 10:42] sumghai commented on #89
Reopening because there were other issues in the chain of OPs.

[2019-11-16 11:45] sumghai commented on #89
Minimum ranges for all applicable turrets have now been added back in.

Finally, to answer your last quesiton, @Kubomius:

The original upstream CE mod (and CE:FT) removes the Autocannon and Uranium Slug (sniper) turrets, because they don't fit into CE's playstyle, and CE without other third-party mods already provides a better selection of turrets:

[Patches\Core\ThingDefs_Buildings\Buildings_Sec

[2019-11-16 11:45] #89 closed

[2019-11-16 13:37] sumghai commented on #146
@Theblessedwant - Patches are up and tested (mostly) OK on my end, other than a couple of things:

* Mantraps (`AA_Mantrap`) haven't been patched

* The [Projectiles patches](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/blob/master/Patches/Alpha%20Animals/AlphaAnimals_CE_Patch_Projectiles.xml) currently still use the deprecated `armorPenetrationBase` stat

[2019-11-16 14:36] AthenaSulisMinerva commented on #139
Hey @Theblessedwant,

After discussing with @sumghai, we'd like to offer you an invitation to be a contributor, which would allow you to directly make changes and push commits to this repo without having having to make pull requests. I've already sent you an invite via an email link.

If you do accept, here's how you would set up your work environment

* Download and install GitHub Desktop

* Clon

[2019-11-16 18:38] MK1776 opened #149 "Android Tiers - android stuck picking up & dropping meals"
Hi FT Team,

I have Android Tiers installed and have encountered the issue of androids repeatedly picking up meals and putting them down. For example, android colonists will stop whatever job they're doing to go pick up a random meal just to put it back down, go back to their job and repeat.

After hours of going through my mod list, I've found that the removal of CE or CE fast track (I don't run

[2019-11-17 00:52] sumghai commented on #146
I've just added a rough-and-ready patch for Mantraps (`AA_Mantrap`), basing it on the Needlepost since both are tall, sentient plants.

[2019-11-17 01:28] sumghai commented on #146
...and I've tweaked the projectile stats with some preliminary armor penetration values.

Some projectiles may or may not have sharp or blunt effects - for instance, I've reasoned that the web projectiles can't pierce armor, but can at least stun targets through (very limited) blunt trauma.

This will have to do for now - @Theblessedwant, you can refine these values later if you wish.

[2019-11-17 01:28] #146 closed

[2019-11-17 07:48] sumghai commented on #149
@MK1776, I haven't been able to reproduce your issue on my end - my androids only pick up meals when they want to eat, and otherwise do not repeatedly pick up and drop them.

This sounds like another mod is causing this incompatibility. Could you please try starting a savegame with only the following mods?:

* JecsTools 1.1.0.15 (12-14-2018) or newer
* Humanoid Alien Races 2.0 (11 Nov 2019 update)

[2019-11-17 08:19] sumghai commented on #149
Okay @MK1776, I've just managed reproduced your issue with just the mods I mentioned above - it has something to do with their loadouts:

* **No specified loadout** - The Android picks up just one meal to keep in its inventory, and goes on its merry way
* **Loadout without any meals specified** - The Android gets stuck in the meal pick-up-drop-off loop
* **Load with a meal specified** - The Androi

[2019-11-17 08:32] Epishade opened #151 "Genetic Rim Patch Request"
Politely requesting CE Support for Genetic Rim!  I looked around and found an old CE patch for it here:

https://github.com/Saebbi/Genetic-Rim-CE-Patch

Genetic Rim has been updated quite a lot since the patch was made 9/10 months ago though.  An update to it would be very appreciated!

[2019-11-17 08:35] AthenaSulisMinerva commented on #151
I'll see when I have to time to tackle this.

[2019-11-17 08:38] AthenaSulisMinerva commented on #87
Addressed in #146 and released in 1.0.1.8-FT-009.

[2019-11-17 08:38] #87 closed

[2019-11-17 09:54] Theblessedwant opened #152 "Rimmu-Nation Belts slight error"
Within the CE  Patch Apparel Belts,  Equippe Stat Offsets has a wornbulk  which shouldnt be there,
![ea7156d7d56cc058be38256508c2b96f](https://user-images.githubusercontent.com/57470753/69005899-3a22e880-0963-11ea-838b-609c8d132a5a.png)

[2019-11-17 10:01] Theblessedwant commented on #152
I  also have a  strange issue whereby the  bulk  increase bonus isnt applied

[2019-11-17 10:13] #152 closed

[2019-11-17 10:14] Theblessedwant commented on #147
![8572fb832d985f54ad1113ecff295b1d](https://user-images.githubusercontent.com/57470753/69006140-11e8b900-0966-11ea-8aaa-f517fef4f5ae.png)
Here are the  vest layers,  it was a typo on my end for the other issue

[2019-11-17 10:23] sumghai commented on #147
@Theblessedwant, @AthenaSulisMinerva sent you an invite to have contributor access. Would you be able to make the edits?

[2019-11-17 10:42] Theblessedwant commented on #139
ah i just read this, ill get it set up once my exams are over, in the middle of uni end of semester exams

[2019-11-17 10:46] Theblessedwant commented on #139
and i am fairly busy with university so as much as  i would love to be  a contributor, i dont think i can make regular commits within this mod.

[2019-11-17 11:00] AthenaSulisMinerva commented on #139
@Theblessedwant - Don't worry, we're totally okay if you only make the occasional or even a one-off series of commits. Setting you up as a contributor simply leaves the door open for the future, in case you suddenly have time or have a very pressing bug to help fix.

@Freedom187, @sumghai and I all have day jobs and families, which means limited time for modding. In fact, @sumghai is actually stuc

[2019-11-17 12:26] Theblessedwant commented on #147
Disregard  the body part groups, they causes the vest and backpacks to  not show up,.

[2019-11-17 13:01] Theblessedwant commented on #147
Update: So by replacing the apparel layer, you need to redfine the worngraphicpath for each individual new layer like so.
I think you can alternatively just target the specific layers and bodypartgroups using patchoperationreplace , but this was how i handled it  The more efficient method would likely group them up and patchoperationreplace the layers and bodypartsgroup
![da4d1bb87bb4c96e61ceb9afd

[2019-11-17 13:08] Theblessedwant commented on #147
![23e9622d3f239746643bd82a7f2c30c8](https://user-images.githubusercontent.com/57470753/69007842-554f2180-097e-11ea-8807-e0977623acbf.png)
or this will work too

[2019-11-17 13:09] sumghai commented on #147
Righto, I'll have a crack at this tomorrow night.

Usually, I lean towards patches that are grouped together for efficiency, but the reason we patch items individually for Rimmu-Nation apparel and weapons is because of the way RN mods were authored - Chicken Plucker has a master list of weapon defs, that he just copies and pastes in different combinations for each faction.

So similarly, the patch

[2019-11-17 13:40] sumghai opened #153 "Defensive Machine Gun Turret Pack - Rebalance and Tweaks"
The turret stats need to be rebalanced to CE1.6+ standards, and `minRange` specified for the Mk 19 automatic grenade launchers so that they don't try to fire HE rounds at point-blank range.

[2019-11-17 13:42] sumghai commented on #153
This has been tested and is good to go.

[2019-11-17 13:42] #153 closed

[2019-11-17 15:37] Theblessedwant opened #154 "Alpha Animals Crapascular beetle"
Seems like there isnt a melee stat for this animal.  Ill have to fix it on my end too
![fde65c6371f11229b011c10ac0256628](https://user-images.githubusercontent.com/57470753/69009728-35762880-0993-11ea-943f-eda414955f5b.png)

[2019-11-17 23:34] xaitan opened #155 "Turned off Ammo in menu but still appearing in game and pawns reloading etc"
Pretty much as the title says, I turned it off in main menu, when I get in game ammo options still show when selecting a pawn and they still reload etc.

[2019-11-18 07:06] sumghai commented on #155
Did you start a new game after disabling the ammo system, or did you try reloading an existing game?

[2019-11-18 12:20] sumghai commented on #154
Well, this is bizarre.

The Steam version of Alpha Animals doesn't seem to have Crepuscular Beetles (as well as a few other animals/insects), but the GitHub version does.

[2019-11-18 12:54] xaitan commented on #155
Yes. I tried both. I also tried disabling ALL other mods and just running CE FT. No dice.

[2019-11-18 13:26] sumghai commented on #155
What about with the original CE mod?

[2019-11-18 13:32] xaitan commented on #155
Same thing.

[2019-11-18 13:41] sumghai commented on #155
Right, this is unfortunately beyond the capabilities of the CE:FT team, since we simply pull the same base code as the original CE mod.

Could you please try raising this issue with the original CE team instead?

[2019-11-18 13:51] sumghai commented on #147
I've patched the RN Clothing backpacks and harnesses - the armored vests from that mod already have the correct layers and body part coverage.

I'm going to take a look at the faction mods now.

[2019-11-18 14:37] sumghai commented on #147
Faction mods have been patched as well - please let me know if I've missed anything, @Theblessedwant.

[2019-11-18 15:49] NickZiggy opened #157 "Mod that adds back vanilla items removed by CE?"
Is there any known mod that adds back the vanilla items that were removed by the CE devs, namely the autocannon turret, the uranium slug turret, the charge lance and minigun?
I am already working on making the defs myself and was wondering what caliber would you suggest to use for the two turrets. Thank you for updating the armor penetration on the shell defs too.

[2019-11-18 20:43] VenomiXeD opened #158 "Invalid texture"
There's a missing texture for The Gasmask. As it just renders "A box".
![image](https://user-images.githubusercontent.com/32819948/69092262-4c2c8600-0a4c-11ea-8a1c-6f9ae5cb39b2.png)
But all of the others have textures.
![image](https://user-images.githubusercontent.com/32819948/69092280-55b5ee00-0a4c-11ea-803c-28063c937519.png)

Mistake? Because this happens.
![image](https://user-images.githubuse

[2019-11-18 20:46] VenomiXeD commented on #158
Spoilers: Seems to happen with quite a lot of textures.
![image](https://user-images.githubusercontent.com/32819948/69092510-cceb8200-0a4c-11ea-9bf3-57e25945c290.png)
![image](https://user-images.githubusercontent.com/32819948/69092517-d2e16300-0a4c-11ea-8470-b25637f2f97d.png)

[2019-11-18 22:42] sumghai commented on #158
The Gas Masks were brought in from the upstream CE mod. The north-facing textures are blank because the original CE team intended for the back of a pawn's head to be exposed.

As for the "pink square" missing textures issue, this is because you are also running a third-party mod that uses GraphicsApparelDetour.DLL, which is incompatible with CE's new apparel layers and rendering system. The upstre

[2019-11-18 22:43] #158 closed

[2019-11-18 23:04] sumghai commented on #157
AFAIK, I don't think there is a mod out there that adds these vanilla items back into CE savegames, and I'm also not entirely sure why these items were removed in the first place, other than "for balance reasons".

As for suggested calibers:

* The autocannon turret could use the [25x137mm NATO](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/blob/master/Defs/Ammo/Shell/25x137mmNATO.

[2019-11-19 05:27] Theblessedwant commented on #157
I'll work on a mod that adds back the vanilla items into the game. Imho, the autocannon should use the 102x20mm shells, it isnt too OP and it will scale well if VAE ever decideds to add double autocannons. The uranium slug can just use 100mm tank shells added my LMM guns.
I do believe miniguns should be disabled as they are way too bulky to be carried around realistically and the amount of ammo ne

[2019-11-19 05:29] Theblessedwant commented on #154
eh? Im using the Steam version of Alpha Animals though, maybe they recently removed it?

[2019-11-19 08:20] maushacks opened #160 "Apex: Rimworld Legends"
https://github.com/onigamii/ApexRimworldLegends-CE

Maybe you could include that one as well.
I am not sure how relevant the modified patch is:
https://steamcommunity.com/workshop/filedetails/?id=1850931414

It might be unbalanced, but I guess you have a better sense of what to adapt and how.
Thanks!

[2019-11-19 09:49] sumghai commented on #160
Okay, noted. We'll slot this in when we have time.

Thanks!

[2019-11-19 10:37] NickZiggy commented on #157
Which is a ridiculous notion of course to come from the same dev that made power armor increase a pawn's carry weight. Also bionics exist.

[2019-11-19 10:52] sumghai commented on #157
AFAIK, the 20x102mm NATO shell is only really used on the M61 Vulcan gatling-style rotary cannon.

If you feel that 25x137mm NATO is still a bit too much, what if I instead created a new ammo def for the [20x128mm Oerlikon](https://en.wikipedia.org/wiki/Oerlikon_20_mm_cannon)? Oerlikon single-barrel autocannons are still in use today.

I don't think the uranium slug turret should be using tank or

[2019-11-19 10:52] sumghai commented on #157
AFAIK, the 20x102mm NATO shell is only really used on the M61 Vulcan gatling-style rotary cannon.

If you feel that 25x137mm NATO is still a bit too much, what if I instead created a new ammo def for the [20x128mm Oerlikon](https://en.wikipedia.org/wiki/Oerlikon_20_mm_cannon)? Oerlikon single-barrel autocannons are still in use today.

I don't think the uranium slug turret should be using tank or

[2019-11-19 10:56] sumghai commented on #154
https://steamcommunity.com/sharedfiles/filedetails/?id=1541721856

I used a Steam Workshop downloader to obtain the Nov 12 update, and the defs in the download were definitely missing Crepuscular Beetles et al.

In any case, since the GitHub version was released at around the same time and does, in fact, include the missing creatures, we should be patching according to that instead.

Let me know w

[2019-11-19 11:26] sumghai commented on #139
Okay, I've patched the shell layer apparel from RN Clothing.

Next up are the faction mods.

[2019-11-19 11:33] Theblessedwant commented on #157
Thats a great idea Sumghai, But maybe the rounds is too small? maybe increase it to 40mm Bofors rounds? do those have  DU rounds for them?

The main issue would be bringing enough ammo for it to be viable. Say you get the realistic weight of a M134 Minigun, thats roughly 85lb or 40kg. Which is your entire pawn's carry weight, Now consider that it uses 7.62x51 NATO, you are only going to be able to

[2019-11-19 11:34] Theblessedwant commented on #160
Ill work on this, i already have a personal version i use for my own purposes, its not complete and has  plenty of issues such as Arc Stars causing horrible slow downs

[2019-11-19 11:36] Theblessedwant commented on #160
As a matter of fact, there already exist a CE patch for Apex: Rimworld Legends on the steam workshop.

[2019-11-19 11:39] sumghai commented on #139
@Theblessedwant all RN Clothing, RH Furniture and RH Faction parkas, jackets and trenchcoats should be patched now. I skipped out on Ghille Suits since I didn't see them being patched your TXT files.

Please let me know if these are good to go.

[2019-11-19 11:40] Theblessedwant commented on #154
[Crapascular_Beetle.txt](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3863570/Crapascular_Beetle.txt)
Heres a CRAPTASTIC beetle, i used the megaspider stats as a template

[2019-11-19 11:55] sumghai commented on #157
According to a copy of the Nammo (formerly Bofors) ammunition catalogue I have on hand, there are no 40mm Bofors variants that have DU penetrators.

In addition to the ammo capacity issue, there's also the power requirement for driving the minigun - a large lead-acid battery would further reduce the effective ammunition capacity carried by pawns.

The only example of a plausible handheld minigun l

[2019-11-19 11:59] NickZiggy commented on #157
As long as using it requires a pawn to equip a power armor, I think adding the minigun back is fine, at least to preserve the intention of the original game to be Sci-Fi and all the related tropes of it. Just don't make it that heavy if it would prevent a pawn from carrying ammo for it. But from the testing I did by just re-enabling the CE def for the minigun, my pawns could use it with ammunition

[2019-11-19 12:26] sumghai commented on #154
Patch for Crepuscular Beetles is now up - I've tested and confirm that the beetle works fine in CE:FT.

Would you like me to close this issue, or keep it open for any missing AA creatures yet to be patched?

[2019-11-19 13:18] sumghai commented on #48
Okay, now that I have a bit more free time to look at this in detail...

## Elite Crew grenades
As per the precedent set by @Freedom187, we would actually disable most of the Elite Crew grenades, since the generic frag and molotov grenades that are included with CE/CE:FT already fit the bill.

For the C4 explosive, we can easily reuse one of our existing patches from another faction.

## Elite Cre

[2019-11-19 14:05] Theblessedwant opened #162 "Rimmu-nation PASGT Helmets Recipe Rebalancing"
So ive taken a look at the helmets, all seems great except that PASGT helmets have  levels of protection similar to that of composite helmets but cost the same as Simple Helmets, Real life PASGT Helmets had kevlar within them so ive changed the cost to use devilweave or with rimefeller installed, Synthamide
Ive used a nested patchoperation find mod to find rimfeller and if it doesnt, it uses regul

[2019-11-19 14:18] Theblessedwant commented on #160
Anyone else can feel free to take a crack at this, ill include my assault rifles, MGs and sniper rifle  XMLs here for reference.
[Patches.zip](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3864192/Patches.zip)

[2019-11-19 14:20] sumghai commented on #162
Okay, I'll take a look tomorrow night.

[2019-11-19 14:21] sumghai commented on #160
Okay, I'll take a look tomorrow night - not sure if these will make it into this release or the next one after.

[2019-11-19 14:28] sumghai commented on #48
Knife patched and tested OK - kills rodents with a single stab, while several stabs and slashes are needed against a typically-clothed raider.

[2019-11-19 20:15] maushacks commented on #160
The official one on steam isn't being maintained and there are a few tiny errors haunting it, like a wrong workshop ID within one xml.  Hence my request here, so it can finally get a proper patch.
So, thanks sumghai and Theblessedwant for your efforts!

[2019-11-19 23:29] #155 closed

[2019-11-20 00:01] Theblessedwant commented on #147
Everything looks about right

[2019-11-20 00:39] sumghai commented on #147
Okie doke - closing.

[2019-11-20 00:39] #147 closed

[2019-11-20 11:57] sumghai commented on #162
Your current patch works as described - I tested it both with and without Rimefeller.

If I understand you correctly, you wanted it so that if Rimefeller was installed, players would have the option to craft the helmets using metallic stuff plus either devilstrand or synthamide? That would most likely require overriding RN's recipe maker and replacing it with an explicit crafting recipe, which is

[2019-11-20 11:58] #162 closed

[2019-11-20 22:44] KazTheMercenary opened #163 "Compatibility / Conflicts"
Pardon, this is my first time reporting here!  O_O

I've been trying to track down a bug/conflict, and don't appear to be having any luck.  But, right or wrong, I keep coming up with 3 things that people seem to be ATTRIBUTING to this mod.

The first being lack of armor penetration.  I had my suspicions from play, but haven't been able to verify myself.

The second is purple boxes for worn headgea

[2019-11-21 00:12] sumghai commented on #139
Marking this one as done.

[2019-11-21 00:12] #139 closed

[2019-11-21 00:19] #154 closed

[2019-11-21 00:19] Theblessedwant commented on #154
Issue fixed

[2019-11-21 00:21] Theblessedwant commented on #163
First problem, thats because not all ammo has been updated to utilize RHA.
Second problem regarding purple boxes, its a dll issue that reroutes layers from the vanilla layer, a fix is coming that will address this and is already inside the main CE Branch.
I would need more info on the third issue, maybe an error log perhaps?

[2019-11-21 01:25] #149 closed

[2019-11-21 03:39] KazTheMercenary commented on #163
If it's all known issues, that's perfect.  All seems to be Layer and Texture issues.  I'm not even positive it's that bad, it just LOOKS bad.

Looks like Vanilla Clothing Expanded (previously compatible) is showing signs and throwing error boxes.

Also looks like VGP - CoffeeTeaDrugs is throwing a fit about a generic distillery and wine must.  That hasn't been updated in some time, so I'm assuming

[2019-11-21 08:52] Xedict opened #164 "Incompatability with Show Hair w/ Hats"
This is also a problem in the main CE branch, but I was wondering if there were any suggestions to be had here.

CE seems to be messing with how the Show Hair w/ Hats works. The functionality of the Show Hair mod seems borked with many hats, even those from other mods. I'm guessing this could be due to the recent change about multiple apparel layers on pawn heads.

[2019-11-21 10:06] sumghai commented on #164
Unfortunately, since this is a product of the head apparel layer changes brought in from the upstream CE mod, there's not much the CE:FT team can do ourselves.

AFAIK, only NoImageAvailable's own [Don't Shave Your Hair mod](https://ludeon.com/forums/index.php?topic=36597.0) has been updated to be compatible with the new layers, so if you happen to be using a hair mod explicitly supported by DSYH,

[2019-11-21 11:33] Mordicant85 commented on #160
Reload times on some of the guns in the official one on steam are high. Peacekeeper has a reload time of 10s compared to the 3.5s in Apex Legends.

[2019-11-23 09:13] sumghai commented on #48
I lied, @ChickenPluckers. You're getting Her Majesty's Finest in this upcoming update.

God Save The Queen!

[2019-11-23 09:13] #48 closed

[2019-11-23 10:11] sumghai commented on #114
It looks like the author (Pratt) is releasing standalone CE versions of his weapons packs.

Nonetheless, I'll still do the CE:FT integrated patches.

[2019-11-23 21:16] BUTTERSKY11 opened #166 "Incompatibility with Kill For Me / Alpha animals and Workshop"
When I used kill for me with the blizzalisk and it spams the debug console with errors saying the blizzalisk is outside of melee position and it sort of stun locks them into the tile they are on, It did not do this previously till the 1.6 CE update.

and for the workshop, I miss the ability to view the compatibilities on the workshop but I understand it would be much too much effort to constantly

[2019-11-24 15:36] ultracose opened #167 "Advanced Munitions CE Patch"
This is a fun mod that adds mortar shells, traps, and grenades. There are tear gas, nerve gas, napalm, white phosphorus, airburst, minelet, sabot, and sedatives variants of these. It would be awesome if you made a patch for this mod. Sorry for bad english, it's not my native language.

[2019-11-25 14:16] skycrossercat commented on #114
https://steamcommunity.com/sharedfiles/filedetails/?id=1920278294&searchtext=pratt
Pratt just uploads one of his WWII weapon pack's CE version,  it may have some tweaks on his consideration.  If CE:FT has patches for these weapons, is it needed to use vanilla version only to prevent some duplication?

[2019-11-25 14:40] skycrossercat opened #170 "[Ods]Kaiser Reich's Imperial Army - Apparel & [Ods] Third Reich - Uniforms mod patches"
They are the only WWI and WWII german apparel mods for now, it would be nice to use them with CE.
https://steamcommunity.com/sharedfiles/filedetails/?id=1339565361
https://steamcommunity.com/sharedfiles/filedetails/?id=1508927726
I know the whole CE:FT team is busy working on CE1.6 patch updates, so there's no hurry on this, thx.

[2019-11-26 00:21] sumghai commented on #114
Yes, the CE:FT patches are intended to be used only with the vanilla versions of Pratt's weapons mods.

ASIDE: One criticism I have regarding standalone CE or CE:FT-only versions of mods is that it adds unnecessary workload for the original mod author, as they would have to now essentially maintain two different versions of the same mod, and newbie users tend to get confused as to which version to

[2019-11-26 00:24] sumghai commented on #170
I recently came off patching apparel for CP's British Military Kit, so I'm familiar enough with the process to (possibly) be able to do this in time for our next update.

No firm promises, though, as we do have a backlog.

[2019-11-26 02:54] #164 closed

[2019-11-26 02:56] sumghai commented on #45
Looks like Kijins mod support is coming soon from the upstream CE repo, so we'll fold that in when it drops.

[2019-11-26 14:29] sumghai commented on #114
Okay, first big half of the patches are done - I've tested each and every ranged, melee and turret weapon, and confirm that they all work.

The only thing left to do are to patch the three grenades, which will be quite a challenge.

[2019-11-26 20:17] Hellcommander opened #171 "Support for GeneticRim Cosmic Horrors Patch"
If you have the time can you make a patch for the GeneticRim Cosmic Horrors Patch (I assume it makes it has new creature entities)

[2019-11-26 20:20] Hellcommander opened #172 "Support for GeneticRim Alpha Animals Patch"
When you have the time can you make a internal ce patch for GeneticRim Alpha Animals Patch (since it adds new hybrids thus new creature entities)?

[2019-11-26 20:22] Hellcommander opened #173 "Support for RimBees - Genetic Rim Patch"
When you have the time can you make internal ce patch for RimBees - Genetic Rim Patch?

[2019-11-26 20:23] Hellcommander opened #174 "Support for Rimbees if their is not already a patch on steam for it"
When you have the time can you make internal ce patch for RimBees if there isn't already a patch or internal support for it in the plugin?

[2019-11-27 14:02] sumghai commented on #114
Grenades are now patched and working.

I have also replaced Pratt's original automatically-generated crafting recipes with CE-standardized ones, which allows pawns to craft 10 grenades of each type just like stock CE grenades, using CE-balanced costlists.

So yeah, this is pretty much done.

[2019-11-27 14:03] #114 closed

[2019-11-27 14:22] sumghai commented on #163
As of the most recent FastTrack update, all ammunition from the **_following_** categories have already been rebalanced to make use of the new `armorPenetrationSharp` and `armorPenetrationBlunt` stats:
* Grenades, launched
* Grenades, hand thrown
* High Caliber
* Industrial Misc
* Medieval
* Missile
* Neolithic
* Pistols
* Rifle
* Rocket
* Shell

The reason you may have heard of these issues is be

[2019-11-27 15:11] sumghai opened #175 "READ ME FIRST - How To Report An Issue"
# 1) Do some basic troubleshooting
Start a new, temporary savegame with only Core and CE:FT enabled, and verify that you don't have any problems.

You'll then need to test your other mods to narrow down the one(s) causing problems:
* If you only have a few mods, you can add them in one at a time, and reload the game each time until you come across the mod that's conflicting with CE:FT
* If you hav

[2019-11-27 15:11] #175 closed

[2019-11-29 14:55] sumghai commented on #170
Both patches have been tested and are good to go.

Ods defines his vanilla defs slightly differently from CP, so I had to play around with the armor rating stats a little to get sensible protection values.

[2019-11-29 14:55] #170 closed

[2019-11-30 00:19] sumghai opened #176 "Update gas masks from all third-party mods"
CE 1.6+ introduced a new set of gas mask apparel to accompany their smoke inhalation feature, which nullifies smoke sensitivity with the trade-off of reduced vision and breathing rate.

Some of our newest bundled compatibility patches already support this feature, while older compatibility patches with gas masks will need to be updated.

This should be fairly straightforward.

[2019-11-30 00:46] sumghai commented on #176
Done!

[2019-11-30 00:46] #176 closed

[2019-11-30 13:06] Christmas5 opened #177 "Compatibility with Dual Wield"
Would it be possible to implement compatibility with the Dual Wield mod?
If not, what about making a CE version of it?

https://steamcommunity.com/workshop/filedetails/?id=1628211313

[2019-11-30 13:11] Christmas5 opened #178 "Support for Argonians of Blackmarsh Patch Request"
It's a race mod. Not very important but I would appreciate it nonetheless.

https://steamcommunity.com/sharedfiles/filedetails/?id=959780399

[2019-11-30 13:25] AthenaSulisMinerva commented on #177
Dual Wield's author Roolo specifically said that it was too much work to make his mod CE compatible on his end, and none of us in the CE:FT team are C# wizards, so there's nothing we can do on our end, either.

[2019-11-30 13:25] #177 closed

[2019-11-30 13:26] AthenaSulisMinerva commented on #178
Added to our to-do list.

[2019-11-30 13:27] AthenaSulisMinerva commented on #174
As per the issue reporting guidelines in #175, please provide a link to this RimBees mod.

[2019-11-30 15:03] Nazgul96 opened #179 "Invisible HUD / Can't Click Bug"
Windows 7 32 bit / Rimworld Ver. 1.0.2059 / CE:FT Ver. 1.0.1.8-FT-010
When i install this mod, my HUD disappears and i can't click on anything. All the game shows me is my colonist mood bars on the top. The only key that works is Space (pause, unpause). Can't even press Esc. Problem persists even if i only load the core in the mod settings. I even deleted every other mod from the folder.

[2019-11-30 15:18] sumghai commented on #179
Windows 7 32-bit? That's a fairly old OS, and it seems like you don't have a lot of memory in your PC as well.

Do you experience the same problem with the original CE mod?

[2019-11-30 16:54] Nazgul96 commented on #179
I does happen with the original CE. So far it is the only mod that causes problems in a list with 50+ mods

[2019-11-30 17:15] Hellcommander commented on #174
https://steamcommunity.com/sharedfiles/filedetails/?id=1558161673&searchtext=rimbees

[2019-11-30 17:17] Hellcommander commented on #173
here is a link to it as per guidelines https://steamcommunity.com/sharedfiles/filedetails/?id=1917061124&searchtext=+RimBees+-+Genetic+Rim

[2019-11-30 17:19] Hellcommander commented on #172
Here is a link to it as per guidelines https://steamcommunity.com/sharedfiles/filedetails/?id=1658356618&searchtext=GeneticRim+Alpha+Animals

[2019-11-30 17:20] Hellcommander commented on #171
Here is a link to it as per guidelines https://steamcommunity.com/sharedfiles/filedetails/?id=1138962461&searchtext=GeneticRim+cosmic+horrors+patch

[2019-11-30 23:30] sumghai commented on #179
In which case, I suggest you report this issue to the upstream CE repo's issue tracker, as this is beyond the capabilities of the FastTrack team.

[2019-11-30 23:30] #179 closed

[2019-12-01 07:37] pecg8237 opened #181 "Support for Kijin Race 2.0 Patch Request"
It's race mod and added new weapons and apparels.It works great with Medieval Times mod.When you have time to patch Medieval Times, hope to work on this mod together. Here is the link https://steamcommunity.com/sharedfiles/filedetails/?id=1918120749&searchtext=kijin

[2019-12-01 07:47] AthenaSulisMinerva commented on #181
Thanks for letting us know. We'll look into it when we have time.

[2019-12-01 07:47] AthenaSulisMinerva commented on #45
Just found out that this original version of the Kijins mod has been declared obsolete by its author, so I'd imagine the CE and/or the CE:FT team will have to start from scratch.

#181 is the request for the 2.0 version of the mod.

[2019-12-01 07:47] #45 closed

[2019-12-01 15:26] NinjaSiren opened #182 "Adding Manifest.xml for dual mod compatibilities?"
I have made a simple Manifest.xml for this mod to be compatible with Fluffy's Mod Manager.
[Manifest.zip](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3908351/Manifest.zip)

[2019-12-01 16:08] NinjaSiren opened #183 "Yes, Vehicles, Finally! is compatible!"
My mod, Yes, Vehicles, Finally! a vehicle and weapon mod that is compatible with vanilla Combat Extended is compatible with CE Fast Track. Tested and works fine!

Mod Link:
https://ludeon.com/forums/index.php?topic=48126
https://github.com/NinjaSiren/Yes-Vehicles-finally

[2019-12-01 17:21] skycrossercat opened #184 "7.92x57mmMauser defName correction request to upstream CE"
Is it possible to contact upstream CE authors to correct the defName of  7.92x57mmMauser? It's quite weird to see that the label of it is the correct one but the defName is 7.92x51mmMauser.
And the most important problem is that if other authors try to make CE patches in their own (weapon) mods, they would need to make two separate versions just because of single defName difference. Since most CE

[2019-12-01 18:36] Tellik opened #185 "XML Conflicts with <Mass> from Massivity mod"
Linux Mint 19.2 - Cinnamon 4.2.4 (Kernel v. 4.15.0-70-generic)
RimWorld - 1.0.2408 rev750
CE:FT - 1.0.1.8-FT-011
[Massivity](https://steamcommunity.com/sharedfiles/filedetails/?id=1908867964) - 16NOV19 update

Massivity and CE:FT both add <Mass> to various material XML blocks of differing values. This causes red error duplicate XML node names in the block. I would expect in this case either one mo

[2019-12-01 21:12] robopitek commented on #185
(i copy and paste from my reply on my steam discussion
please contact with me on workshop if want)
[quote=Tellik;1740008852848371786]There is a conflict with duplicate Mass values appearing with use from Combat Extended: Fast Track. I raised an issue on their github with more details: https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/issues/185#issue-530774217 [/quote]
So we are have p

[2019-12-02 11:35] AthenaSulisMinerva commented on #182
This most likely won't work, because the `-FT-011` part in your Manifest.xml violates the following requirement in the [documentation for Mod Manager](https://github.com/fluffy-mods/ModManager/blob/master/ForModders.md#version):

I discussed this with @sumghai on Hangouts, and we concluded that we can't change our version numbering scheme to drop the `-FT-` part, because we use that to tell people

[2019-12-02 11:36] #182 closed

[2019-12-02 11:41] AthenaSulisMinerva commented on #183
We're perfectly happy for modders like yourself to integrate CE or CE:FT compatibility patches into your own mod itself.

However, the only mods we add to our mod compatibility list are mods that CE:FT has _**pre-bundled or built-in support for**_. Since your patches aren't bundled inside CE:FT, there is no need for us to explicitly say that CE:FT is compatible with the Yes, Vehicles! mod.

Instea

[2019-12-02 11:41] #183 closed

[2019-12-02 11:43] AthenaSulisMinerva commented on #184
@sumghai, I know you're uncomfortable dealing with upstream CE team, but since you already have a personal fork of said upstream, could you please do the needful?

[2019-12-02 11:53] AthenaSulisMinerva commented on #185
AFAIK, CE (and by extension, CE:FT) just uses fixed mass values for everything, whether explicitly defined in the original def xmls or updated via compatibility patches.

@sumghai, @Freedom187 and I can honestly say that the CE:FT team is far less experienced as developers than any other RimWorld modding group - we simply offer an easy-to-use fork with additional pre-bundled patches and ammo, whil

[2019-12-02 11:53] #185 closed

[2019-12-02 12:37] skycrossercat commented on #181
[https://github.com/NoImageAvailable/CombatExtended/pull/921](url)
Looks like upstream CE is working on Kijin 2.0 already.

[2019-12-02 12:50] AthenaSulisMinerva commented on #181
Good - CE:FT can focus on other patches.

[2019-12-02 12:55] dsa321t opened #186 "(TradingEconomy) Walkblem Vehicles Gear Tab Not Working As Intended"
Hey so I'm currently attempting to create a patch for the mod TradingEconomy since the current one is very much outta date (current patch is for version [A17] 1.4, current version is [1.0] 3.1). This is my first attempt at doing anything like this so it very well could be my fault, however everything I've tired hasn't fixed it. Am looking for advice on how to fix this since I'm out of ideas

Extra

[2019-12-02 13:07] sumghai commented on #186
How are the vehicles defined? Are they pawns, alien race pawns or Yes, Vehicles! vehicles?

I'm not familiar with the last one, but for the first two, you should be able to patch them in a similar way to ordinary pawns - for example, the T-55 tank from [RH] Last Man Mercs were basically Mechanoids, so I simply patched tank shells like they were ammo magazines:

https://github.com/AthenaSulisMinerv

[2019-12-02 13:21] dsa321t commented on #186
Ive uploaded both my current progress along with the TradingEconomy files I'm viewing.

[TradingEconomy.zip](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3911421/TradingEconomy.zip)

[__LocalCopy__1_0_Trading_Economy_Mod_3_1_-30-11.zip](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3911424/__LocalCopy__1_0_Trading_Economy_Mod_3_1_-30-11.zip)

[2019-12-02 13:30] sumghai commented on #186
Thanks for the files - I'll take a look tomorrow night.

[2019-12-02 13:53] dsa321t commented on #186
One thing to note, TradingEconomy require Advanced Animal Framework in order to work (for the vehicles, which may itself be the issue). I've sent a copy in case you don't have it

[__LocalCopy__1_0_Advanced_Animal_Frameworks_3_4_-23-11.zip](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/files/3911563/__LocalCopy__1_0_Advanced_Animal_Frameworks_3_4_-23-11.zip)

[2019-12-02 18:41] RC311 opened #187 "Support for Swords Patch Request"
The autor already made CE patch can you check?
https://steamcommunity.com/sharedfiles/filedetails/?id=1845180112

[2019-12-02 22:06] sumghai commented on #184
I submitted a PR last night, so it's up to them now.

[2019-12-03 07:21] skycrossercat commented on #187
@RC311 You better send the update request to the author instead since it already has its own CE patch. Otherwise, it may cause duplication when both CE:FT and the original mod update the patch to the current CE version.

[2019-12-03 10:39] AthenaSulisMinerva commented on #187
@skycrossercat is correct.

If a mod author has already bundled CE patches into their original mod itself, then it is up to the author to keep their patches updated.

CE:FT generally patches mods that either don't have CE patches at all, or if the patches exist as standalone "patch" mods.

In the interest of avoiding patching conflicts/duplications, we're most likely not going to handle this one (

[2019-12-03 10:39] #187 closed

[2019-12-03 14:25] Hellcommander opened #188 "Support for Spidercamp Dog Pack - Genetic Rim Patch"
When you find the time could you make a patch for Spidercamp Dog Pack - Genetic Rim Patch found here https://steamcommunity.com/sharedfiles/filedetails/?id=1693018350.

[2019-12-04 09:54] skycrossercat opened #189 "[RH] Faction: The Ghosts- Tacticool Doggo CE1.6 Patch submit"
I've made a CE1.6 patch for German Shepherd of the ghost, can you merge it into the CE:FT? I just tweak some value to make it work with new CE armor mechanics, also make the dog attack slightly faster, but less powerful compared to vanilla wolfs.
here's the link:
https://drive.google.com/open?id=1vaSWEeWTFr3KumT105tPk9N_NjnN5-1z

[2019-12-04 11:20] sumghai commented on #189
Patch updated. Many thanks for the help!

[2019-12-04 11:21] #189 closed

[2019-12-04 20:13] HUDAXIAND opened #190 "nation clothing patch cant use"
![QQ截图20191205040917](https://user-images.githubusercontent.com/57340572/70177490-6eddc080-1715-11ea-8ed7-281fa30d3457.png)
![QQ截图20191205041010](https://user-images.githubusercontent.com/57340572/70177501-7309de00-1715-11ea-917c-159d6f06999e.png)
the patch cant use but nation weapon can use

[2019-12-04 20:49] skycrossercat commented on #190
Have you ever test it yoirself that the patch is unplayable or just report this cause you see the red letter? You don't even describe how the problem looks like.
The red letter is mean to tell you that some outdated data is disabled to prevent some errors.

[2019-12-05 11:50] sumghai commented on #190
@skycrossercat, this is a Chinese user who probably doesn't understand the context of the warning message in English - I can handle this one.

**简而言之:** 不必管那个错误信息，您其实还是可以在 CE:FT 用 RN Clothing

**解释:** 有一些服饰模组 (包括 RN Clothing) 里面包含了一个未跟新的 GraphicApparelDetour.DLL，会跟 CE 新的服装层数码发生冲突。为了使用户的安全, CE:FT 将自动禁用那个DLL，可是 RN Clothing 主要部分可以继续用。本错误信息只是提醒您去跟 GraphicApparelDetour.DLL 的作者去投诉，请他更新数码来符合 CE:FT.

(注：这

[2019-12-05 14:10] sumghai commented on #163
Most of the original issues have already been resolved in the past few updates, and there has been no further information/feedback from the reporting user.

Closing this until if and when the user gets back to us with the duplicate apparel issue.

[2019-12-05 14:10] #163 closed

[2019-12-05 15:31] Christmas5 opened #191 "Support for Reich Armory - Patch Request"
I only recently noticed a certain group of modded guns isn't supported.
Reich Armory was made by the same guy as Soviet Armory, so it hopefully won't be hard.

https://steamcommunity.com/sharedfiles/filedetails/?id=1778648673

[2019-12-05 15:34] Christmas5 opened #192 "Support for Kaiser Armory - Patch Request"
A patch request. The mod is made by the same guy as Soviet- and Reich Armory.

https://steamcommunity.com/sharedfiles/filedetails/?id=1768843436

[2019-12-05 18:10] KazTheMercenary commented on #163
No problem at all.  I was only able to duplicate the scarf/goggle/head duplication.  Best I can tell, it seems like Rimsenal and Rimmu-Nation seem to be fighting for head-space  **laughs**  Will wear glasses with goggles.  Scarf with scarf with scarf.  Only seems to be one face filter.

Also, though this isn't this mod's problem, the naming/crafting/allowing conventions by those two mods (and anyt

[2019-12-06 12:33] sumghai commented on #191
The infantry weapons should be straightforward, but the cannons will require new CE ammo definitions (the vanilla ones included can't be used with CE).

[2019-12-06 12:34] #190 closed

[2019-12-07 12:49] HenMeeNooMai opened #193 "Patch request for [WD] Expanded Artillery"
The author of this mod says  _Too many different mechanics that I have no idea how to deal with._
so I think I could request for him, take a look when you have some free time.

https://steamcommunity.com/sharedfiles/filedetails/?id=1704214153

[2019-12-07 13:23] HenMeeNooMai opened #194 "Support request/Report Error/Balance request to Vanilla Weapon Expanded"
There is a patch for CE:FT but the author (**_Andross_**) told in the comment that he's too busy irl. So I may request the integration for him,
_the mod https://steamcommunity.com/sharedfiles/filedetails/?id=1814383360
the patch https://steamcommunity.com/sharedfiles/filedetails/?id=1819425140_

For the balance
Charged sniper shouldn't be using the _12x64mm charged_,It deserve its own ammunition o

[2019-12-07 13:23] HenMeeNooMai commented on #194
Also, pawn that using vanilla weapon  don't have a problem with this.

[2019-12-07 14:07] sumghai commented on #194
Okay, we'll look into this when we have time (unless Andross beats us to it, as per his latest comment).

[2019-12-07 15:39] sumghai commented on #33
Many of these turrets require new ammo definitions, which I have now added.

I'll also need to create new textures of some of them, like the rockets and the tank cannon shells.

[2019-12-07 15:48] sumghai commented on #157
@NickZiggy, @Theblessedwant - I've added a couple of new ammo definitions that you guys may find useful.

For the Autocannon Turret, use the [20x128mm Oerlikon](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/blob/master/Defs/Ammo/Shell/20x128mmOerlikon.xml).

For the Uranium Slug Turret, use the [30x173mm NATO](https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/blob/maste

[2019-12-08 07:11] skycrossercat opened #195 "[Pratt] WWII weapon pack Turrets defName change and updates"
CE:FT version: v1.0.1.8-FT-011
The recent update of [Pratt] WWII weapon pack (12/8) changed all turrets' defName from MG to HMG (ex: Turret_MG34MG ->Turret_MG34HMG), causing the current patch from CE:FT invalid. This problem also happens to its own graphic set up in architect menu, not sure how the author gonna fix this.
This update also adds some new weapons, needs some minor updates to the patch

[2019-12-08 07:55] HUDAXIAND opened #196 "NewRatkinPlus patch need update"
XML error: Duplicate XML node name apparelRequired in this XML block: <PawnKindDef ParentName="RKBasePawnKind"><defName>RatkinEliteGuardener</defName><label>ratkin Elite Guardener</label><baseRecruitDifficulty>0.95</baseRecruitDifficulty><combatPower>50</combatPower><isFighter>true</isFighter><itemQuality>Good</itemQuality><backstoryCategories><li>RatkinGuardener</li></backstoryCategories><apparel

[2019-12-08 08:39] sumghai commented on #195
Oh, bother.

Yeah, this isn't the first time Pratt's rushed changes through without thinking about how they affect other parts of his own mod.

Okay, I'll add those when I have time

(ASIDE - I've noticed you've been inserting URLs incorrectly in your issue tickets. All you need to do is to copy and paste the raw URL, and GitHub's markdown will automatically turn it into a working link.

The "Add

[2019-12-08 08:40] sumghai commented on #196
Please follow the correct bug reporting guidelines:

https://github.com/AthenaSulisMinerva/CombatExtendedFastTrack/issues/175

[2019-12-08 09:19] skycrossercat commented on #195
Alright, the author(Pratt) just pushes a quick update to change the defName back to the old one, which means the patch is working again.
And I found why the textures in architect menu failed to present and report it to him as well.

Ok, thx for telling me that.

[2019-12-08 09:46] skycrossercat commented on #196
I think he doesn't really understand English, so I will answer him in Chinese (hope he can read traditional Chinese cause I can't type simplified one).

@HUDAXIAND  Ratkin的CE:FT 版本還沒有更新到1.6的數值，所以在CE1.6的架構下是用不了的，如果你真的有急需的話，工作坊上可以找到Ratkin的獨立CE補丁，如果要跟CE:FT共用的話記得手動移除CE:FT裡的Ratkin補丁，但那補丁有些小問題還沒修正，也只能等作者改善。
還有一個問題是你的MOD排序是錯誤的，CE應該要放在Alien Race2.0後面；外星種族的MOD之前。

如果你真的不懂英文也沒關係，但這裡畢竟是個英文社群，那怕是用翻譯機也好也要盡可能用英

[2019-12-08 10:03] sumghai commented on #196
Mucho gracias for helping out, @skycrossercat :)

I can type in both Traditional and Simplified Chinese, but based on his screenshot I suspect he's from Mainland China, and so will probably struggle with Traditional.

[2019-12-08 10:04] sumghai commented on #195
Mucho gracias!

I'll leave this ticket open until the new items are patched, whenever I can get around to it :)

[2019-12-08 13:43] sumghai commented on #184
No response from their end.

Since we've done our due diligence, there's nothing more to do here.

[2019-12-08 13:43] #184 closed

[2019-12-08 14:11] sumghai commented on #33
This took an entire day's worth of painstaking debugging, but the patch is pretty much working now.

Caveats (please include in release notes, @AthenaSulisMinerva )
- Pre-charged Mini-Turret has been disabled, as CE and CE:FT current don't support spawning turrets preloaded with ammo; cursory examination of the relevant C# source code suggest that the upstream CE devs nerfed that feature, for reas

[2019-12-08 19:30] skycrossercat commented on #49
I take a look into the Defs of Rimatomics, it seems it may need tons of work to patch.
1. It adds its own DamageDefs (LocalInjuries) for their energy weapons (EnergyWepBurnBase).
2. The Energy weapons have their own BasedEnergyWeaponGun ParentName (don't really know what
    this ParentName means, can't decompile dll. files in Assemblies and lack of C# knowledge), based
    on this ParentName, ene

[2019-12-08 21:03] skycrossercat commented on #49
Self-test result:
Marauder-Dealing too little dmg per burst against a well-armored pawn, guys with power armor or
                centipedes are totally invincible against it.
Punisher-Same problem as Marauder cause they both deal dmg with projectile explosion, but the
               punisher has much higher dmg per shot (still can't kill centipedes cause they block all the
               explosio

[2019-12-09 04:27] Totherphoenix commented on #14
Has there been any update on this patch post-1.6-release?

[2019-12-09 08:51] Octofoxy commented on #55
These patches are broken. The armors for example, even the heavy tanky plasteel armor, have the armor rating en par with a T-Shirt. That's just not right.

[2019-12-09 11:03] sumghai commented on #33
Only the following ammo and projectiles need new textures:

* 130mm Type 63 Rocket
* 120mm Cannon Shell
* 28cm Spgr. Cannon Shell

All other ammo can use existing CE artwork.

[2019-12-09 18:19] skycrossercat commented on #191
Is it possible to keep the ammo textures from the original mod? It would greatly increase immersion if we could have them in CE.

[2019-12-09 22:29] lucianfallen opened #197 "Some mods that were in the past patched"
[CP] Rimmu-Nation - Clothing (All Craftable!) (1.0)
[CP] Rimmu-Nation - Gloves N' Boots (1.0)
[CP] Red Horse Furniture (1.0)
[RH] Faction: Elite Crew (1.0)
[RH] Faction: Last Man Mercs (1.0)
[RH] Faction: Militaires Sans Frontieres (1.0)
[RH] Faction: Task Force 141 (1.0)
[RH] Faction: Umbra Company (1.0)
[RH] Faction: The Ghosts (1.0)

[2019-12-10 01:44] sumghai commented on #197
These mods are still currently supported by CE:FT - what issues are you experiencing with them?

[2019-12-10 15:53] lucianfallen commented on #197
https://imgur.com/a/1NqcpFO

[2019-12-10 15:54] sumghai commented on #33
New ammo graphics are done.

The 28cm Spgr. shells don't need unique graphics, since I just found out that the shells and cartridges are loaded separately (much like the powder bags used for other naval artillery). I've also rebalanced the market value and crafting stats accordingly.

One last thing to do is to rework the M74 rocket ammo so that there are two different projectile definitions for t

[2019-12-10 22:19] sumghai commented on #197
The patches for those mods still work just fine.

The error message simply means that the `GraphicApparelDetour.dll` that comes with those mods has been turned off by CE:FT, as it is outdated and caused the pink square issue in the past. It is up to whoever gave Chicken Plucker that version of `GraphicApparelDetour.dll` to fix the DLL, not Chicken Plucker or the CE:FT team.

This was explained qui

[2019-12-10 22:20] #197 closed

[2019-12-11 12:53] sumghai commented on #33
Okay, this is finally done.

[2019-12-11 12:54] #33 closed

[2019-12-12 12:26] sumghai commented on #195
These are good to go for the next update.

[2019-12-12 12:26] #195 closed

[2019-12-12 13:46] sumghai commented on #69
All standard and non-standard ammo and projectile calibers have been rebalanced.

Armor and melee tools/stat balances will be addressed on a case-by-case basis via submitted issues.

[2019-12-12 13:46] #69 closed

[2019-12-12 18:15] NickZiggy commented on #157
@sumghai Thank you, I will upload what I have so far after the next release of FT

[2019-12-13 15:21] sumghai commented on #157
@NickZiggy - Just to clarify, you're releasing your work as a standalone third-party mod that has CE:FT as a dependency, correct?

[2019-12-14 02:07] SirCoutin opened #199 "Adding Forgotten RimWorld to the patch"
Hello Team, I'm in the Modding community on the RimWorld discord and I've gotten quite interested in doing a patch for my Forgotten RimWorld mod. Thing is, alot of my guns use really uncommon ammo types

- 7.5mm Kurzpatrone - Kurz version of the 7.5mm Swiss
- 7.5mm GP11 and normal Swiss 7.5mm - https://en.wikipedia.org/wiki/7.5×55mm_Swiss
-.577 Snider - https://en.wikipedia.org/wiki/.577_Snider
-1